body, svg {
    width: 100%;
    height: 100%;
}
#networkToolbar {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 56px;
    padding-left: 5px;
    display: flex;
    align-items: center;
    background: var(--bg);
}
#networkToolbar .button {
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
}
#networkToolbar .networkSearchInput {
    display: inline-block;
    position: relative;
    overflow: hidden;
    max-width: 0px;
    transition: max-width 0.3s;
}
#networkToolbar .networkSearchInput.active {
    max-width: 205px;
}
#networkToolbar .networkSearchInput input {
    width: 200px;
    margin-right: 5px;
}
#networkToolbar .networkSearchInput input:focus {
    outline: 0;
}
#networkDataPages > div {
    display: none;
    /*transition: transform 0.15s;*/
}
#networkList {
    max-width: 1024px;
    margin: auto;
}
#networkList .row:not(:first-child) {
    cursor: pointer;
}
#networkList .row div.network_ports {
    white-space: normal;
    min-width: 100px;
}
.tooltip {
    background: var(--bg);
    pointer-events: auto;
    white-space: normal;
}
.tooltip span.text > div,
.tooltip div.rows > div {
    display: table;
}
.tooltip span.text > div > div,
.tooltip div.rows > div > div {
    display: table-row;
}
.tooltip div.rows.socket {
    position: relative;
}
.tooltip div.rows.socket .connector {
    position: absolute;
    left: -5px;
    top: 2px;
    bottom: 2px;
    width: 10px;
    border-left: 1px solid var(--content-text);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.tooltip span.text > div > div > div,
.tooltip div.rows > div > div > div {
    display: table-cell;
    padding: 3px;
    text-align: left;
}
.tooltip span.text > div > div > div:first-child {
    font-weight: bold;
}

.tooltip span.text > div > div > div.link,
.tooltip div.rows > div > div.link {
    cursor: pointer;
    color: var(--link-color);
}
.tooltip span.text > div > div > div.link:hover,
.tooltip div.rows > div > div.link:hover {
    text-decoration: underline;
}
.tooltip div.rows {
    padding: 0 !important;
}

svg g.links {
    fill: none;
    stroke-width: 1;
    stroke: var(--content-text);
}
svg g.links path.online,
svg g.links path.offline {
    stroke-width: 2;
}

svg g.links path.online {
    stroke: var(--color-green);
}
svg g.links path.offline {
    stroke: var(--color-red);
}

svg g.nodes foreignObject.traffic:not(.bottom) > div {
    text-align: end;
    height: 100%;
    position: relative;
}

svg g.nodes foreignObject.traffic:not(.bottom) > div > div {
    background: var(--bg);
    text-align: end;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}
svg g.nodes foreignObject.traffic.bottom > div {
}
svg g.nodes foreignObject.traffic.bottom > div > div {
    position: relative;
}
svg g.nodes foreignObject.traffic.bottom > div > div > div:first-child {
    position: absolute;
    left: 50%;
    transform: translate(-110%);
}
svg g.nodes foreignObject.traffic.bottom > div > div > div:last-child {
    position: absolute;
    right: 50%;
    transform: translate(110%);
}

svg g.nodes rect.container {
    stroke-width: 0.5;
    stroke: var(--content-text);
    fill: var(--bg);
}

svg g.nodes rect.container.match {
    fill: var(--color-red) !important;
    filter: brightness(2.0);
}

svg g.nodes rect.container.hub,
svg g.nodes rect.container.network {
    fill: var(--content-hightlight-bg);
}

svg g.nodes circle.online,
svg g.nodes circle.offline {
    stroke-width: 0.5;
    stroke: var(--content-text);
}
#networkList .row .online,
#networkList .row .offline {
    text-align: center;
}
#networkList .row .online span,
#networkList .row .offline span {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
}
#networkList .row .online span {
    background: var(--color-green);
}
svg g.nodes circle.online {
    fill: var(--color-green);
}
#networkList .row .offline span {
    background: var(--color-red);
}
svg g.nodes circle.offline {
    fill: var(--color-red);
}

svg g.nodes foreignObject.traffic,
svg g.nodes foreignObject.details {
    color: var(--content-text);
}

svg g.nodes foreignObject.details > div {
    height: 100%;
    position: relative;
}

svg g.nodes foreignObject.details > div > div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    padding: 1px 2px;
}

svg g.nodes foreignObject.details > div > div.name {
    left: 0;
    top: 0;
    right: 10px;
}

svg g.nodes foreignObject.details > div > div.info {
    left: 0;
    bottom: 0;
    opacity: 0.7;
    font-weight: 300;
    right: 35px;
}

svg g.nodes foreignObject.details > div > div.details {
    right: 0;
    bottom: 0;
    text-align: end;
}

svg g.nodes foreignObject.details > div > div.details div.top {
    opacity: 0.7;
    font-weight: 300;
    margin-bottom: -2px;
}

#networkList .row .band.c2g,
svg g.nodes foreignObject.details > div > div.details span.band.c2g {
}
#networkList .row .band.c5g,
svg g.nodes foreignObject.details > div > div.details span.band.c5g {
    font-weight: 500;
}
#networkList .row .signal.signal6,
svg g.nodes foreignObject.details > div > div.details span.signal.signal6 {
    color: #e80000;
}
#networkList .row .signal.signal5,
svg g.nodes foreignObject.details > div > div.details span.signal.signal5 {
    color: #ff8800;
}
#networkList .row .signal.signal4,
svg g.nodes foreignObject.details > div > div.details span.signal.signal4 {
    color: #bfa900;
}
#networkList .row .signal.signal3,
svg g.nodes foreignObject.details > div > div.details span.signal.signal3 {
    color: #7cbf00;
}
#networkList .row .signal.signal2,
svg g.nodes foreignObject.details > div > div.details span.signal.signal2 {
    color: #499800;
}
#networkList .row .signal.signal1,
svg g.nodes foreignObject.details > div > div.details span.signal.signal1 {
    color: #027a04;
}
