body, svg {
    width: 100%;
    height: 100%;
}
.tooltip {
    background: var(--bg);
    pointer-events: auto;
    white-space: normal;
}
.tooltip span.text > div,
.tooltip div.rows > div {
    display: table;
}
.tooltip span.text > div > div,
.tooltip div.rows > div > div {
    display: table-row;
}
.tooltip span.text > div > div > div,
.tooltip div.rows > div > div > div {
    display: table-cell;
    padding: 3px;
    text-align: left;
}
.tooltip span.text > div > div > div:first-child {
    font-weight: bold;
}

.tooltip span.text > div > div > div.link,
.tooltip div.rows > div > div.link {
    cursor: pointer;
    color: var(--link-color);
}
.tooltip span.text > div > div > div.link:hover,
.tooltip div.rows > div > div.link:hover {
    text-decoration: underline;
}
.tooltip div.rows {
    padding: 0 !important;
}

svg g.links {
    fill: none;
    stroke-width: 1;
    stroke: var(--content-text);
}
svg g.links path.online,
svg g.links path.offline {
    stroke-width: 2;
}

svg g.links path.online {
    stroke: var(--color-green);
}
svg g.links path.offline {
    stroke: var(--color-red);
}

svg g.nodes rect.container {
    stroke-width: 0.5;
    stroke: var(--content-text);
    fill: var(--bg);
}

svg g.nodes rect.container.hub,
svg g.nodes rect.container.network {
    fill: var(--content-hightlight-bg);
}

svg g.nodes circle.online,
svg g.nodes circle.offline {
    stroke-width: 0.5;
    stroke: var(--content-text);
}
svg g.nodes circle.online {
    fill: var(--color-green);
}
svg g.nodes circle.offline {
    fill: var(--color-red);
}

svg g.nodes rect.traffic {
    fill: var(--bg);
}

svg g.nodes text.traffic tspan,
svg g.nodes text.identifier {
    fill: var(--content-text);
}

svg g.nodes foreignObject.traffic > div {
    background: var(--bg);
    text-align: end;
}

svg g.nodes foreignObject.traffic > div > div {
    display: inline-block;
}

svg g.nodes text.name,
svg g.nodes foreignObject.details {
    fill: #777;
    font-weight: 300;
}
svg g.nodes foreignObject.details div {
    text-align: end;
    padding-right: 1px;
}

svg g.nodes foreignObject.details span.band.c2g {
}
svg g.nodes foreignObject.details span.band.c5g {
    font-weight: 500;
}
svg g.nodes foreignObject.details span.signal.lowest {
    color: red;
}
svg g.nodes foreignObject.details span.signal.low {
    color: #ff8800;
}
svg g.nodes foreignObject.details span.signal.medium {
    color: #bfa900;
}
svg g.nodes foreignObject.details span.signal.high {
    color: #7cbf00;
}
svg g.nodes foreignObject.details span.signal.highest {
    color: #00ff00;
}

svg g.nodes text.traffic.arrived {
    animation-name: traffic_arrived;
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-iteration-count: 5;
}

body.dark svg g.nodes text.name,
body.dark svg g.nodes text.details {
    fill: #ccc;
}
/*.tooltip div.services > div > div > div:first-child {
    text-align: right;
}*/
 
