[Unit]
Description=Initialize nvidia devices
After=systemd-journald.service

[Service]
Type=oneshot
RemainAfterExit=yes

# force generation of /dev/nvidia-uvm and other devices
ExecStart=nvidia-ctk cdi generate 2> /dev/null 1> /etc/cdi/nvidia.yaml
#ExecStart=/opt/scripts/nvidia-uvm-init.sh

[Install]
WantedBy=multi-user.target

