[Unit]
Description=Initialize nvidia devices
After=syslog.target

[Service]
Type=oneshot
RemainAfterExit=yes

# force generation of /dev/nvidia-uvm and other devices
ExecStart=/bin/sh -c "nvidia-ctk cdi generate 2>/dev/null 1>/etc/cdi/nvidia.yaml"

[Install]
WantedBy=multi-user.target

