#serverNeedsRestart,
#currentRunningActions {
  display:none;
}
div.info,
div.header div:first-child {
  color: var(--light-menu-text);
}
div.action:hover {
  background-color: var(--light-menu-hover-bg);
  border-radius: 4px;
}
body.dark div.info,
body.dark div.header div:first-child {
  color: var(--dark-menu-text);
}
body.dark div.action:hover {
  background-color: var(--dark-menu-hover-bg);
}
div.info.green,
div.header.green {
  color: var(--color-green);
}
div.info.yellow,
div.header.yellow {
  color: var(--color-yellow);
}
div.info.red,
div.header.red {
  color: var(--color-red);
}
div.widget {
  width: 100%;
  max-width: 800px;
  margin: auto;
}
div.table {
  font-size: 16px;
  overflow: auto;
}
div.header {
  padding: 5px 5px 5px 5px;
  display: flex;
  align-items: center;
}
div.header div:first-child {
  font-size: 20px;
  font-weight: bold;
}
div.header div:last-child {
  color: #AAA;
  font-size: 15px;
  font-weight: normal;
  padding-top: 2px;
  padding-left: 5px;
  white-space: nowrap;
}
div.action {
  margin: 5px 0 5px 15px;
  padding: 5px 5px 5px 5px;
  font-weight: normal;
  display: flex;
  align-items: center;
  min-height: 45px;
}
div.info {
  flex-grow: 1; 
  font-size: 16px;
}
div.info .sub {
  color: #AAA;
  font-size: 13px;
}
div.form.button {
  margin-left: 5px;
  white-space: nowrap;
}
div.buttons {
  white-space: nowrap;
}
.green {
    color: var(--color-green);
}
.yellow {
    color: var(--color-yellow);
}
.red {
    color: var(--color-red);
}
div.list.form.table {
  margin-left: 20px;
  margin-right: 5px;
  margin-bottom: 10px;
  max-height: 0;
  transition: max-height 0.3s;
  display: none;
  overflow-y: hidden;
}
div.list.form.table div.row div.grow  {
  width: 100%;
  white-space: normal; 
}

div.dialogLayer .confirmDialog {
  max-width: 300px;
}

div.dialogLayer .confirmDialog .table {
  max-width: 100%;
}
div.dialogLayer .confirmDialog .row > div:last-child,
div.dialogLayer .confirmDialog .row input:not([type='checkbox']) {
  width: 100%;
  box-sizing: border-box;
}
div.dialogLayer .confirmDialog .row .hint {
  font-size: 14px;
  max-height: 0px;
  overflow-x: hidden;
  transition: max-height 0.2s;
}
div.dialogLayer .confirmDialog .deployConfirmation 
{
  position: absolute;
  margin-top: -35px;
  padding-left: 5px;
}
div.detailView {
  cursor: pointer;
  display: inline-block;
  color: #1976d2;
}
div.detailView:hover {
  text-decoration: underline;
}

div.form.table > div.row > div.indexLogDate {
  white-space: nowrap;
}
div.form.table.logfileBox {
  width: auto;
}
