div.widget {
  width: 100%;
  max-width: 800px;
  margin: auto;
}
div.table {
  font-size: 16px;
  overflow: auto;
}
h1 {
  font-size: 20px;
}
div.action {
  margin: 10px 0 10px 20px;
  font-weight: normal;
  display: flex;
  align-items: center;
}
div.action:hover {
  background-color: #f2f2f2;
}
div.info {
  flex-grow: 1; 
}
div.info {
  font-size: 16px;
}
div.form.button {
  margin-left: 5px;
}
.green {
    color: var(--color-green);
}
.yellow {
    color: var(--color-yellow);
}
.red {
    color: var(--color-red);
}
div.table {
  margin-left: 20px;
  max-height: 0;
  transition: max-height 0.3s;
  display: none;
  overflow-y: hidden;
}
div.row div.grow  {
  width: 100%;
  white-space: normal; 
}

div.dialogLayer .confirmDialog {
  max-width: 300px;
}
