PASSPHRASE={{cloudsync_password}}
REMOTE_CONNECTOR=LocalFilesystem
TARGET_DIR={{cloud_backup_target_path}}

CACHEFILE={{global_tmp}}cloudsync_{name}.cache
LOGFILE={{global_log}}cloudsync/cloudsync_{name}.log
EXCLUDE=.*\\.git/.*|.*\\.svn/.*
;INCLUDE=
;NAME=
;FOLLOWLINKS=external
;DUPLICATE=stop
;HISTORY=0
