:root {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
         -moz-user-select: none; /* Firefox */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */


    --widget-value-weight: 300;
    --widget-button-radius: 2px;
    --widget-button-border: 1px solid var(--primary-light-color);

    --body-bg: #000000;

    --primary-color: #26bf75;
    --primary-light-color: rgba(38,191,117,.50);
    --primary-dark-color: #09301d;

    --sub-icon-color: white;

    --widget-value-color: white;
    --widget-text-color-nonimportant: #AAA;
	--widget-button-background-marker: #1f1f1f;
    --widget-button-border-marker: 1px solid rgba(38,191,117,.1);
	--widget-value-color-weather-needle: white;
	--widget-value-color-weather-circle: var(--primary-light-color);
    --widget-value-color-weather-info-icon: var(--sub-icon-color);
    --widget-value-color-weather-clouds: white;
    --widget-value-color-weather-sun: rgba(255, 165, 0, 0.7);
    --widget-value-color-weather-raindrop: white;
    --widget-value-color-weather-snowflake: white;
	--widget-value-color-weather-thunder: rgba(255, 165, 0, 0.6);
	--widget-value-color-weather-thunder-stroke: rgba(255, 165, 0, 0.8);
}

:root.lightTheme {
	--body-bg: #FFF;

	--primary-color: rgba(84,126,177,1);
	--primary-light-color: rgba(56,121,217,0.5);
    --primary-dark-color: rgba(124,175,215,0.3);

    --sub-icon-color: rgba(124,175,215,0.9);

    --widget-value-color: black;
    --widget-text-color-nonimportant: #6E6E6E;
	--widget-button-background-marker: #FAFAFA;
	--widget-button-border-marker: 1px solid #BBB;
    --widget-value-color-weather-needle: #555;
    --widget-value-color-weather-circle: rgba(99,143,179,0.5);
    --widget-value-color-weather-info-icon: rgba(99,143,179,1.0);
    --widget-value-color-weather-clouds: #333;
    --widget-value-color-weather-sun: rgba(255, 165, 0, 0.7);
    --widget-value-color-weather-raindrop: #4b86c8;
    --widget-value-color-weather-snowflake: #03b5fc;
	--widget-value-color-weather-thunder: rgba(255, 165, 0, 0.2);
	--widget-value-color-weather-thunder-stroke: rgba(255, 165, 0, 1.0);
	/*--widget-value-color-weather-thunder: rgba(255, 165, 0, 0.4);
	--widget-value-color-weather-thunder-stroke: rgba(255, 165, 0, 0.6);*/
}

.mvWidget .weatherForecast .cloud svg {
    --svg-weather-mask-fill: black;
    --svg-weather-clouds-stroke: var(--widget-value-color-weather-clouds);
    --svg-weather-clouds-stroke-width: 1px;
    --svg-weather-clouds-fill: transparent;
    --svg-weather-sun-stroke: var(--widget-value-color-weather-sun);
    --svg-weather-sun-stroke-width: 1px;
    --svg-weather-sun-fill: var(--widget-value-color-weather-sun);
    --svg-weather-moon-stroke: var(--widget-value-color-weather-clouds);
    --svg-weather-moon-stroke-width: 1px;
    --svg-weather-moon-fill: transparent;
    --svg-weather-stars-stroke: var(--widget-value-color-weather-clouds);
    --svg-weather-stars-stroke-width: 0.5px;
    --svg-weather-stars-fill: transparent;
    --svg-weather-thunder-stroke: var(--widget-value-color-weather-thunder-stroke);
    --svg-weather-thunder-stroke-width: 1px;
    --svg-weather-thunder-fill: var(--widget-value-color-weather-thunder);
    --svg-weather-raindrop-stroke: var(--widget-value-color-weather-clouds);
    --svg-weather-raindrop-stroke-width: 2px;
    --svg-weather-raindrop-fill: var(--widget-value-color-weather-raindrop);
    --svg-weather-snowflake-stroke: var(--widget-value-color-weather-clouds);
    --svg-weather-snowflake-stroke-width: 1px;
    --svg-weather-snowflake-fill: var(--widget-value-color-weather-snowflake);

    width: 58px;
	height: 58px;
}
.mvWidget .weatherDetailForecast .today .hour, .weatherDetailForecast .today .summary {
    border-right: none;
}
.mvWidget .weatherDetailForecast,
.mvWidget .weatherDetailForecast .hour .temperature > .sub,
.mvWidget .weatherDetailForecast .hour .info,
.mvWidget .weatherDetailForecast .hour .time .from,
.mvWidget .weatherDetailForecast .hour .time .to,
.mvWidget .weatherForecast .summary .value,
.mvWidget .weatherForecast .summary .cell {
    font-size: 14px;
}
.mvWidget .weatherDetailForecast .title {
    font-size: 18px;
}
.mvWidget .weatherDetailForecast .summary {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}
.mvWidget .weatherDetailForecast .summary .temperature .min {
    font-size: 90%;
    font-weight: var(--widget-value-weight);
    opacity: 0.7;
    margin-left: 5px;
}
.mvWidget .weatherDetailForecast .summary,
.mvWidget .weatherDetailForecast .summary .cell {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mvWidget .weatherDetailForecast .summary .icon {
    margin-left: 0.3vw;
    margin-right: 0.3vw;
    width: 16px;
    height: 16px;
    flex-grow: 0;
}
.mvWidget .weatherDetailForecast .summary .icon svg {
    stroke: var(--sub-icon-color);
    fill: var(--sub-icon-color);
    width: auto;
    height: auto;
}
.mvWidget .weatherDetailForecast .summary .icon.rain svg {
    stroke: var(--widget-value-color-weather-info-icon);
    fill: none;
    /*filter: brightness(150%);*/
}
.mvWidget .weatherDetailForecast .summary .icon.sun svg {
	/*margin: 0px;*/
    /*filter: brightness(70%);*/
}
.mvWidget .weatherDetailForecast .summary .value {
    font-weight: var(--widget-value-weight);
    white-space: nowrap;
}
.mvWidget .weatherDetailForecast .summary .cell {
    margin-top: 1.1vw;
    width: auto;
}
.mvWidget .weatherDetailForecast .week .hour .status {
    margin-left: 2%;
    width: 5px;
}
.mvWidget .weatherDetailForecast .hours {
    display: table;
    width: 100%;
    border-collapse: collapse;
}
.mvWidget .weatherDetailForecast .hours .hour {
    display: table-row;
    border-top: 1px solid #999;
    padding: 5px;
}
.mvWidget .weatherDetailForecast .hours .hour > div{
    display: table-cell;
    vertical-align: middle;
	padding-top: 5px;
    padding-left: 15px;
}
.mvWidget .weatherDetailForecast .hour .wind,
.mvWidget .weatherDetailForecast .hour .info .precipitationProbability,
.mvWidget .weatherDetailForecast .hour .info .sunshineDuration,
.mvWidget .weatherDetailForecast .hour .info .precipitationAmount {
    font-weight: var(--widget-value-weight);
    font-size: 95%;
}
.mvWidget .weatherDetailForecast .hour .time {
    width: 10%;
    padding-left: 1vw;
    font-weight: var(--widget-value-weight);
}
.mvWidget .weatherDetailForecast .hour .cloud {
    vertical-align: middle;
    text-align: center;
    max-width: 100px;
}
.mvWidget .weatherDetailForecast .hour .temperature {
}
.mvWidget .weatherDetailForecast .hour .temperature > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:flex-start;
}
.mvWidget .weatherDetailForecast .hour .temperature .main {
    margin-right: 5px;
    text-align: right;
    font-size: 18px;
}
.mvWidget .weatherDetailForecast .hour .temperature .main .min {
    display: block;
    font-size: 70%;
    font-weight: var(--widget-value-weight);
    opacity: 0.7;
    margin-top: -4px;
}
.mvWidget .weatherDetailForecast .hour .info {
    width: 74px;
}
.mvWidget .weatherDetailForecast .hour .info > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.mvWidget .weatherDetailForecast .hour .info .sunshineDuration .sun {
    width: 16px;
	height: 16px;
}
.mvWidget .weatherDetailForecast .hour .info .sunshineDuration .sun svg {
    stroke: var(--widget-value-color-weather-info-icon);
    fill: none;
	filter: brightness(70%);
}

.mvWidget .weatherDetailForecast .hour .info .precipitationProbability {
    font-weight: var(--widget-value-weight);
}
.mvWidget .weatherDetailForecast .hour .info .precipitationProbability svg {
    stroke: var(--widget-value-color-weather-info-icon);
    fill: none;
}
.mvWidget .weatherDetailForecast .hour .wind {
    padding-right: 5px;
    padding-left: 15px;
    white-space: nowrap;
    text-align: right;
}
.mvWidget .weatherDetailForecast .hour .wind > div {
    display: flex;
    justify-content: end;
    flex-direction: row;
}
.mvWidget .weatherDetailForecast .hour .wind .compass,
.mvWidget .weatherDetailForecast .hour .wind svg {
    width: 1vw;
	height: 1vw;
    min-width: 24px;
    min-height: 24px;
}
.mvWidget .weatherDetailForecast .hour .wind .compass {
    position: relative;
    margin-left: 10px;
}
.mvWidget .weatherDetailForecast .hour .wind .compass .circle,
.weatherDetailForecast .hour .wind .compass .needle {
    position: absolute;
}
.mvWidget .weatherDetailForecast .hour .wind .compass .circle {
    fill: var(--widget-value-color-weather-circle);
    stroke: none;
}
.mvWidget .weatherDetailForecast .hour .wind .compass .needle {
    fill: var(--widget-value-color-weather-needle);
}
.mvWidget .weatherDetailForecast svg {
    width: 16px;
	height: 16px;
}
.mvWidget .weatherDetailForecast .hour .info > div > div:nth-child(2) {
    padding-left: 5px;
}
.mvWidget .weatherDetailForecast .today, .mvWidget .weatherDetailForecast .week{
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
}
.mvWidget .weatherDetailForecast .today {
    border-right: 1px dashed var(--primary-color);
}
.mvWidget .weatherDetailForecast .mvClickable:hover {
    background-color: var(--widget-button-background-marker);
}
.mvWidget .weatherDetailForecast .mvClickable:active .raindrop_snowflake_background,
.mvWidget .weatherDetailForecast .mvClickable:active {
    background-color: var(--primary-light-color);
}
.mvWidget .weatherForecast .sun {
	stroke: var(--widget-value-color-weather-clouds);
	stroke-width: 1px;
	fill: none;
}
.mvWidget .weatherDetailForecast .week .hour .status {
    width: 10px;
    min-width: 10px;
    max-width: 10px;
    padding: 0;
}
.mvWidget .weatherDetailForecast .week .hour.active .status {
    background-color: var(--primary-light-color);
}
.mvWidget .weatherDetailForecast .week .hour > div {
    justify-content: space-between;
}
.mvWidget .weatherDetailForecast .hour .info > .sunshineDuration {
    white-space: nowrap;
}
.mvWidget .weatherDetailForecast .mvClickable,
.weatherDetailForecast .today .hour > div {
    padding: 0.2vw;
}
.mvWidget .weatherDetailForecast .mvClickable:hover,
.mvWidget .weatherDetailForecast .mvClickable.active {
    background-color: var(--widget-button-background-marker);
}
.mvWidget .weatherDetailForecast .mvClickable:active {
    background-color: var(--primary-dark-color);
}
.mvWidget .weatherDetailForecast {
    display: flex;
    flex-direction: row;
    color: var(--widget-value-color);
}
.mvWidget .weatherDetailForecast > div {
    width: 50%;
}
.mvWidget .weatherDetailForecast .week {
	padding-left: 0.5vw;
    color: var(--widget-value-color);
}
.mvWidget .weatherDetailForecast .hour.active .time {
	font-weight: bold !important;
}
