[Unit]
Description=for Easy Rule Making

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/ferm /etc/ferm/ferm.conf
ExecStartPre=/usr/sbin/iptables -F INPUT
ExecStartPre=/usr/sbin/iptables -F FORWARD
#ExecStartPre=sh -c "/usr/sbin/iptables -D FORWARD -m comment --comment \"netavark firewall rules\" -j NETAVARK_FORWARD 2>/dev/null || true"
#ExecStartPre=sh -c "/usr/sbin/iptables -D INPUT -m comment --comment \"netavark firewall rules\" -j NETAVARK_INPUT 2>/dev/null || true"
ExecStop=/usr/sbin/ferm -F /etc/ferm/ferm.conf
ExecStopPost=/usr/sbin/iptables -F SMARTSERVER_INPUT
ExecStopPost=/usr/sbin/iptables -F SMARTSERVER_FORWARD

[Install]
WantedBy=multi-user.target
