- name: register webui
  vars:
    name: "proxy"
    js_file: "templates/webui/proxy.js"
    i18n_files: [ { language: "de", file: "templates/webui/proxy.de.json" } ]
    icons: [ 'templates/webui/icons/proxy_camera.svg' ]
  import_tasks: roles/apache_webui/tasks/add_webui.yml

- name: copy apache config
  vars:
    config_file: "templates/etc/apache2/_.ansible.conf.d/proxy.conf"
  import_tasks: roles/apache/tasks/add_config.yml

- name: prepare needed folder
  file:
    path: "{{item.dir}}"
    state: directory
    owner: "{{item.owner}}"
    group: "{{item.group}}"
    mode: 0755
  with_items:
    - { owner: "{{system_users['www'].name}}", group: "{{system_groups['www'].name}}", dir: "{{htdocs_path}}fallback/tmpfs/" }

- name: copy balancer fallback files
  copy:
    src: "templates/device404.jpg"
    dest: "{{htdocs_path}}fallback/{{item}}"
    owner: "{{system_users['www'].name}}"
    group: "{{system_groups['www'].name}}"
    mode: 0644
  with_items:
    - cam.jpg # automower
    - cam.mjpg # automower
    - snapshot.cgi # automower
    - videostream.cgi # automower
    - tmpfs/snap.jpg # camera strasse
    - mjpegstream.cgi # camera strasse

