/* disable font-bosting */
body, body * {
    max-height: 1000000px;
}
/*@media only screen and (max-width: 600px) {
    div.header.table.logfileBox:not(.sticky) {
        display: flex;
    }
    div.header.table.logfileBox:not(.sticky) > div.row {
        display: flex;
        width: 100%;
        overflow: auto;
    }
    div.header.table.logfileBox:not(.sticky) > div.row > div {
        width: auto;
    }
}*/
div.header.table.logfileBox {
    position: sticky;
    top: 0px;
    background-color: white;
    transition: all 200ms ease-in-out;
}
body.dark div.header.table.logfileBox {
    background-color: #202124;
    border-bottom: 1px solid #383a3e;
    border-left: 1px solid #383a3e;
    border-right: 1px solid #383a3e;
}
body.sticky div.header.table.logfileBox {
    display: table;
    width: 100%;
}
div.header.table.logfileBox div.row > div {
    transition: all 200ms ease-in-out;
}
body.sticky div.header.table.logfileBox {
    max-width: 100px;
}

body.sticky div.header.table.logfileBox div.row > div {
    width: auto;
}

body.sticky div.header.table.logfileBox div.row > div:nth-child(1),
body.sticky div.header.table.logfileBox div.row > div:nth-child(2),
body.sticky div.header.table.logfileBox div.row > div:nth-child(3) {
    width: 0;
    min-width: 0;
    max-width: 0;
    height: 0;
    max-height: 0;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
    white-space: nowrap;
}

body.sticky div.header.table.logfileBox div.row > div:nth-child(1) *,
body.sticky div.header.table.logfileBox div.row > div:nth-child(2) *,
body.sticky div.header.table.logfileBox div.row > div:nth-child(3) *,
body.sticky div.header.table.logfileBox div.row > div span.datetime,
body.sticky div.header.table.logfileBox div.row > div span.hash {
    display: none;
}

div.scrollControl, div.goToControl {
    position: fixed;
    right: 0;
    width: 15px;
    height: 15px;
    opacity: 0.9;
    margin: 15px;
    cursor: pointer;
}
div.scrollControl:hover, div.goToControl:hover {
    opacity: 1.0;
}

div.scrollControl {
    top: 83px;
    background-color: white;
    border: 8px solid gray;
    border-radius: 18px;
}
body.sticky div.scrollControl {
    top: 39px;
}

div.goToControl {
    top: 145px;
    color: white;
    font-size: 30px;
    width: 30px;
    height: 30px;
    padding-right: 6px;
}

body.sticky div.goToControl {
    top: 101px;
}

div.goToControl.singleButton {
    top: 83px;
}

body.sticky div.goToControl.singleButton {
    top: 39px;
}

div.scrollControl.active {
    background-color: yellow;
}



div.log {
    background-color: #222;
    padding: 5px;
    color: #cdcdcd;
    font-family: monospace;
    white-space: pre;
    font-size: 15px;
    overflow: visible;
    width: -moz-fit-content;
    width: fit-content;
}
/*@media (hover: hover) {
    div.log {
        min-width: 1024px;
    }
}*/
div.log > div {
    white-space: nowrap;
    min-height: 18px;
}

@media (hover: hover) {
    div.log > div {
        white-space: pre-wrap;  
    }
}
