[defaults]
#strategy_plugins = /opt/mitogen/ansible_mitogen/plugins/strategy
#strategy = mitogen_linear

collections_path = .collections

callbacks_enabled = profile_tasks
stdout_callback = custom_logger
