body {
  margin: 0px;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
       -moz-user-select: none; /* Old versions of Firefox */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  -webkit-overflow-scrolling: touch;
}
.stepline-scrollarea-wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100px;
  padding: 2px;
  padding-bottom: 20px;
  box-sizing: border-box;
  background-color: white;
  z-index: 100;
  display: flex;
  align-items: baseline;
}
body.dark .stepline-scrollarea-wrapper {
  background-color: black;
}
.stepline-scrollarea-wrapper > div.slot {
  height: 100%;
  position:relative;
  font-size: 12px;
  line-height: 16px;
  color: #919191;
}
.stepline-scrollarea-wrapper > div.slot.filled {
  cursor: pointer;
}
.stepline-scrollarea-wrapper > div.slot > div.bar {
  position:absolute;
  bottom:0;
  left:0;
  background-color: #d1f0ff;
  width: 100%;
}
body.dark .stepline-scrollarea-wrapper > div.slot > div.bar {
  background-color: #81a0af;
}
.stepline-scrollarea-wrapper > div.slot.active > div.bar {
  background-color: #6287ff;
}
.stepline-scrollarea-wrapper > div.slot > div.time {
  position: absolute;
  bottom: -16px;
}
.stepline-scrollarea-wrapper > div.slot > div.date {
  position: absolute;
  top: 0;
}
.tooltip {
  visibility: hidden;
  opacity: 0;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: fixed;
  z-index: 300;
  width: 100px;
  transition: opacity 0.3s;
  white-space: nowrap;
  border: 1px solid white;
  background-color: rgba(98, 135, 255, 0.8);
  pointer-events: none;
}
.tooltip > .arrow {
  display: inline-block;
  position: absolute;
  top: calc(100% - 3px);
  width: 6px;
  height: 6px;
  border: 1px solid white;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: rgba(98, 135, 255, 0.8);
}
.tooltip.active {
  visibility: visible;
  opacity: 1;
}  
#gallery {
  margin-top: 100px;
  width: 100%;
  font-size: 0;
  line-height: 0;
}
#gallery > span.button, #gallery > div.layer {
  display: none;
}
#gallery > div.layer {
  position: fixed;
  background-color: black;
  transition: all 0.15s;
  opacity: 0;
  z-index: 1;
}
#gallery > div.container {
  width: calc(20% - 1px);
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  box-sizing: border-box;
  background-color: gray;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
@media (max-width: 1350px) {
    #gallery > div.container {
        width: calc(25% - 1px);
    }
}
@media (max-width: 1050px) {
    #gallery > div.container {
        width: calc(33% - 1px);
    }
}
@media (max-width: 750px) {
    #gallery > div.container {
        width: calc(50% - 1px);
    }
}
@media (max-width: 450px) {
    #gallery > div.container {
        width: 100%;
        margin-left: 0;
    }
}
#gallery.fullscreen {
    white-space:nowrap;
    position: absolute;
    height: calc(100% - 100px);
}
#gallery.fullscreen > span.button.icon-left,
#gallery.fullscreen > span.button.icon-right,
#gallery.fullscreen > span.button.icon-cancel {
    display: inline;
    position: fixed;
    color: gray;
    font-size: 50px;
    z-index: 100;
    opacity: 0.5;
    cursor: pointer;
}
#gallery.fullscreen > span.button:hover {
    opacity: 0.8 !important;
}
#gallery.fullscreen > span.button.icon-left {
    left: 0;
    bottom: calc(50% - 175px);
    padding: 100px 50px 100px 0;
}
#gallery.fullscreen > span.button.icon-right {
    right: 0;
    bottom: calc(50% - 175px);
    padding: 100px 0 100px 50px;
}
#gallery.fullscreen > span.button.icon-cancel {
    right: 0;
    top: 110px;
    padding: 20px;
}
#gallery.fullscreen > div.container {
    width: 100%;
    height: calc(100% - 1px);
    margin-left: 0;
    background-color: black;
    cursor: default;
    border-left: 1px solid black;
    border-bottom: none;
}
#gallery.fullscreen > div.container > img {
    max-width:100%;
    max-height:100%;
    height:auto;
    width: auto;
    margin: auto;
}
#gallery.fullscreen > div.container > div.dummy { 
  display: none;
}
#gallery > div.container > img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
#gallery > div.container > span {
  position: absolute;
  bottom: 2px;
  right: 2px;
  color: white;
  text-shadow: 1px 1px 2px black;
  font-size: 16px;
  line-height: 16px;
} 
