- name: set version
  set_fact:
    phpmyadmin_version: '5.1.1'
  tags: [ 'update_notifier_configs' ]
  
- name: check installation
  stat:
    path: "{{htdocs_path}}mysql-phpMyAdmin-{{phpmyadmin_version}}-all-languages"
  register: phpmyadmin_exists
  changed_when: not phpmyadmin_exists.stat.exists
  
- name: install archive => phpmyadmin does not exists
  unarchive:
    src: "https://files.phpmyadmin.net/phpMyAdmin/{{phpmyadmin_version}}/phpMyAdmin-{{phpmyadmin_version}}-all-languages.zip"
    dest: "{{global_tmp}}"
    remote_src: yes
    owner: "{{system_users['www'].name}}"
    group: "{{system_groups['www'].name}}"
    mode: 0755
  when: not phpmyadmin_exists.stat.exists

- name: rename folder => phpmyadmin does not exists
  command: "mv {{global_tmp}}phpMyAdmin-{{phpmyadmin_version}}-all-languages/ {{htdocs_path}}mysql-phpMyAdmin-{{phpmyadmin_version}}-all-languages"
  when: not phpmyadmin_exists.stat.exists
  
- name: set symbolic link => phpmyadmin does not exists
  file:
    src: "mysql-phpMyAdmin-{{phpmyadmin_version}}-all-languages"
    dest: "{{htdocs_path}}mysql"
    state: link
    follow: no
    owner: "{{system_users['www'].name}}"
    group: "{{system_groups['www'].name}}"
  when: not phpmyadmin_exists.stat.exists
  
- name: register webui
  vars:
    name: "phpmyadmin"
    js_file: "templates/webui/phpmyadmin.js"
    i18n_files: [ { language: "de", file: "templates/webui/phpmyadmin.de.json" } ]
    listener: { "prefix": "mysql", "js_file": "templates/webui/phpmyadmin.listener.js" }
    icons: [ 'templates/webui/icons/phpmyadmin_logo.svg' ]
  import_tasks: roles/apache_webui/tasks/add_webui.yml

- name: copy config
  template:
    src: "templates/config.inc.php"
    dest: "{{htdocs_path}}mysql/config.inc.php"
    owner: "{{system_users['www'].name}}"
    group: "{{system_groups['www'].name}}"
    mode: 0640

- name: prepare config folder
  file:
    path: "{{htdocs_path}}mysql/tmp"
    state: directory
    owner: "{{system_users['www'].name}}"
    group: "{{system_groups['www'].name}}"
    mode: 0750
    
# ***** FINALIZE *****
- name: register update notifier
  vars:
    name: "phpmyadmin"
    type: "github"
    url: "https://www.phpmyadmin.net/news/"
    config: { 
      project: "phpmyadmin/phpmyadmin", 
      pattern: "^RELEASE_([0-9_]+)$",
      version: "RELEASE_{{phpmyadmin_version | regex_replace('\\.','_')}}" 
    }
  import_tasks: roles/update_daemon/tasks/add_software.yml
