- name: install required packages => is_fedora
  yum:
    name: "ruby-devel"
    state: present
  when: is_fedora|bool
  
- name: install required packages => is_ubuntu
  apt:
    name: "ruby-all-dev"
    state: present
  when: is_ubuntu|bool

- name: install required packages => is_suse
  zypper:
    name: "ruby-devel"
    state: present
  when: is_suse|bool
  
- name: prepare needed folder
  file:
    path: '{{global_log}}fluentd/'
    state: directory
    owner: root
    group: root
    mode: 0750

- name: install
  gem:
    name: '{{ item }}'
    state: present
    user_install: no
  with_items:
    - fluentd
    - fluent-plugin-systemd
#    - fluent-plugin-elasticsearch
    - fluent-plugin-mail
    - fluent-plugin-grep
    - fluent-plugin-grepcounter
    - fluent-plugin-grafana-loki
    - fluent-plugin-record-modifier
    - fluent-plugin-rewrite-tag-filter
    - oj
  notify: "restart fluentd"

- name: copy config and service
  template:
    src: "templates{{item.path}}"
    dest: "{{item.path}}"
    owner: root
    group: root
    mode: "{{item.mode}}"
  with_items:
    - { mode: "u=rw,g=r,o=", path: "/etc/fluent/fluent.conf" }
    - { mode: "u=rw,g=r,o=", path: "/etc/fluent/_.ansible.d/systemd.conf" }
    - { mode: "u=rw,g=r,o=r", path: "/etc/systemd/system/fluentd.service" }
  notify: "restart fluentd"

#- name: create cron job
#  vars:
#    name: "Fluentd elasticsearch index cleanup"
#    cmd: "/usr/bin/curator_cli --host 127.0.0.1 delete_indices --ignore_empty_list --filter_list '\\''[{\"filtertype\":\"age\",\"source\":\"creation_date\",\"direction\":\"older\",\"unit\":\"days\",\"unit_count\":7},{\"filtertype\":\"pattern\",\"kind\":\"prefix\",\"value\":\"fluentd\"}]'\\'' > /dev/null"
#    file: "ansible_fluentd"
#    hour: "1"
#    minute: "0"
#  import_tasks: roles/cron/tasks/add_cronjob.yml

# ***** FINALIZE *****
- name: register systemd service watcher
  vars:
    name: "fluentd"
  import_tasks: roles/systemd_watcher/tasks/add_watcher.yml

- name: trigger fluentd handler
  vars:
    notify: "restart fluentd"
    service: "fluentd.service"
  import_tasks: roles/_shared/tasks/service_check.yml
