org.eclipse.smarthome.persistence:default=mapdb
org.eclipse.smarthome.core.i18nprovider:language=de
org.eclipse.smarthome.core.i18nprovider:region=DE
org.eclipse.smarthome.core.i18nprovider:timezone=Europe/Berlin
org.eclipse.smarthome.core.i18nprovider:location=52.3476672,13.6215805
#org.eclipse.smarthome.network:primary=192.168.1.50/24
