[Unit]
Description=update_daemon
Requires=php.service
After=php.service

[Service]
TimeoutStartSec=0
TimeoutStopSec=10
Restart=always
ExecStart=/opt/update_daemon/server

[Install]
WantedBy=multi-user.target
