- name: prepare needed folder
  file:
    path: '{{item}}'
    state: directory
    owner: root
    group: root
    mode: 0750
  with_items:
    - "{{ global_etc }}samba"
    - "{{ global_lib }}samba"
    - "{{ global_lib }}samba/private"

- name: copy config
  template:
    src: "templates/etc/smb.conf"
    dest: "{{ global_etc }}samba/smb.conf"
    owner: root
    group: root
    mode: 0640
  notify: "restart samba"

- name: build docker image
  vars:
    name: "samba"
    image_name: "custom_samba"
    image_version: "{{alpine_version}}"
    files:
      - roles/samba/templates/container/Dockerfile
  import_tasks: roles/container/tasks/build_docker_image.yml
  
- name: create docker container
  docker_container:
    name: samba
    image: "custom_samba:{{alpine_version}}"
    state: present
#    recreate: true
    env:
      TZ: "{{timezone}}"
    log_driver: journald
    log_options:
      tag: samba
    container_default_behavior: "compatibility"
    network_mode: "default"
    networks:
      - name: "isolated"
    networks_cli_compatible: yes
    volumes:
      - '{{ global_etc }}samba:/etc/samba:z'
      - '{{ global_lib }}samba:/var/lib/samba:z'
      - '{{nextcloud_data_path}}:{{nextcloud_data_path}}:z'
      - '{{raid_path}}:{{raid_path}}:z'
      - '{{data_path}}:{{data_path}}:z'
      - '/etc/group:/etc/group:ro,z'
      - '/etc/passwd:/etc/passwd:ro,z'
      - '/etc/shadow:/etc/shadow:ro,z'
    published_ports:
      - "137:137/udp"
      - "138:138/udp"
      - "139:139/tcp"
      - "445:445/tcp"
  notify: "restart samba"

- name: create systemd service
  vars:
    container_name: "samba"
  import_tasks: roles/container/tasks/add_docker_service.yml

- name: trigger samba handler
  vars:
    notify: "restart samba"
    service: "samba.service"
  import_tasks: roles/_shared/tasks/service_check.yml
