- name: install required packages => is_rhel
  yum:
    name: [
        jq
      , cronie
    ]
    state: present
  when: is_rhel
  
- name: install required packages => is_suse
  zypper:
    name: [
        jq
      , cronie
    ]
    state: present
  when: is_suse

- name: copy crony cmd
  copy:
    src: "templates/crony.sh"
    dest: "/usr/bin/crony.sh"
    owner: root
    group: root
    mode: 0755

