:root * {
    --color-primary: #1976D2 !important;
    --image-background: None !important;
}
#body-user #header
{
	background-color: var(--color-primary) !important;
}
body {
    background-image: none !important;
    background-color: white !important;
}
#header {
    height: 56px !important;
    background-image: none !important;
}
#content {
    margin-top: 56px !important;
}
#header .logo-icon {
    height: 56px !important;
}
