/* header color */
/* this is the main brand color */
/*#body-user #header,
#body-settings #header,
#body-public #header {
	background-color: #1976D2;
}*/

/* log in screen background color */
/* gradient of the header color and a brighter shade */
/* can also be a flat color or an image */
/*#body-login {
	background-color: #1976D2;
}*/

/* primary action button, use sparingly */
/* header color as border, brighter shade again, here as background */
/*.primary,
input[type="submit"].primary,
input[type="button"].primary,
button.primary,
.button.primary,
.primary:active,
input[type="submit"].primary:active,
input[type="button"].primary:active,
button.primary:active,
.button.primary:active {
	border-color: #745bca;
	background-color: #947bea;
}
.primary:hover,
input[type="submit"].primary:hover,
input[type="button"].primary:hover,
button.primary:hover,
.button.primary:hover,
.primary:focus,
input[type="submit"].primary:focus,
input[type="button"].primary:focus,
button.primary:focus,
.button.primary:focus {
	background-color: #8b75e4;
}
.primary:active, input[type="submit"].primary:active, input[type="button"].primary:active, button.primary:active, .button.primary:active,
.primary:disabled, input[type="submit"].primary:disabled, input[type="button"].primary:disabled, button.primary:disabled, .button.primary:disabled,
.primary:disabled:hover, input[type="submit"].primary:disabled:hover, input[type="button"].primary:disabled:hover, button.primary:disabled:hover, .button.primary:disabled:hover,
.primary:disabled:focus, input[type="submit"].primary:disabled:focus, input[type="button"].primary:disabled:focus, button.primary:disabled:focus, .button.primary:disabled:focus {
	background-color: #745bca;
}*/
:root {
    --color-primary: #1976D2;
}
#body-user #header
{
	background-color: var(--color-primary) !important;
}
#header {
    height: 56px !important;
    background-image: none !important;
}
#content {
    padding-top: 56px !important;
}
#header .logo-icon {
    height: 56px !important;
}
/*#header .logo,
#firstrunwizard .logo {
	width: 256px;
	height: 128px;
}
#header .logo-icon {
	width: 62px;
	height: 34px;
}*/
