html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

.panel-container iframe {
  border: 0;
  background-color: #efefef;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.panel-container {
  width: 100%;
  margin: 0 auto;
}
