- name: prepare needed folder
  file:
    path: "{{item.path}}"
    state: directory
    owner: root
    group: root
    mode: "{{item.mode}}"
  with_items:
    - { mode: "u=rwx,g=rx,o=", path: "/opt/update_notifier" }
    - { mode: "u=rwx,g=rx,o=rx", path: "{{global_log}}update_notifier" }

- name: copy plugins
  copy:
    src: "templates/opt/update_notifier/{{item}}"
    dest: "/opt/update_notifier/"
    owner: root
    group: root
    mode: 0750
  with_items:
    - helper
    - plugins

- name: copy cmd
  template:
    src: "templates/opt/update_notifier/update_check"
    dest: "/opt/update_notifier/update_check"
    owner: root
    group: root
    mode: 0750

- name: copy webui
  copy:
    src: "templates/htdocs/update_notifier"
    dest: "{{htdocs_path}}"
    owner: "{{system_users['www'].name}}"
    group: "{{system_groups['www'].name}}"
    mode: 0750
  tags: ['apache_webui_page']

- name: copy webui config
  template:
    src: "templates/config.php"
    dest: "{{htdocs_path}}update_notifier/config.php"
    owner: "{{system_users['www'].name}}"
    group: "{{system_groups['www'].name}}"
    mode: 0750
  tags: ['apache_webui_page']

- name: register webui
  vars:
    name: "update_notifier"
    js_file: "templates/webui/update_notifier.js"
    i18n_files: [ { language: "de", file: "templates/webui/update_notifier.de.json" } ]
    icons: [ 'templates/webui/icons/update_notifier_logo.svg' ]
  import_tasks: roles/apache_webui/tasks/add_webui.yml
  
- name: create cron job
  vars:
    name: "Update notifier"
    cmd: "/opt/update_notifier/update_check > /dev/null"
    file: "ansible_update_notifier"
    minute: "0"
    hour: "3"
  import_tasks: roles/cron/tasks/add_cronjob.yml
