:root {
  --light-bg: white;
  --dark-bg: #202124;
  
  --light-button-text: #3c4043;
  --light-button-bg: white;
  --light-button-hover-bg: #f7f8f8;
  --light-button-active-bg: #e8e8e9;
  --dark-button-text: #fff;
  --dark-button-bg: #202124;
  --dark-button-hover-bg: rgba(25,118,210,0.12);
  --dark-button-active-bg: rgba(25,118,210,0.3);

  --light-menu-text: #111;
  --dark-menu-text: #fff;
  
  --light-menu-hover-bg: rgba(51,122,183,.12);
  --light-menu-active-bg: rgba(51,122,183,.22);
  --dark-menu-hover-bg: rgba(51,122,183,.20);
  --dark-menu-active-bg: rgba(51,122,183,.30);
 
  --color-red: #ff7479;
  --color-yellow: #ffd768;
  --color-green: #b5ce69;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../font/OpenSans-VariableFont_wdth,wght.ttf') format('woff2-variations');
  font-weight: 200 800;
  font-stretch: 75% 125%;
  font-style: oblique 0deg 20deg;
}
html {
    height: 100%;
    box-sizing: border-box;
}
body {
    background-color: var(--light-bg);
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
body.dark {
    background-color: var(--dark-bg);
} 
body.inline {
    /*padding: 0px 5px 0 5px;*/
}
body.inline.spacer {
    padding: 5px;
}
body.inline.spacer-800 {
    padding-top: 5px;
}
@media screen and (max-width: 800px) {
    body.inline.spacer-800 {
        padding-top: 0;
    }
}
