/* INPUT */
@media (pointer: coarse) {
    input {
        font-size: 16px;
    }
}

/* BUTTON */
.form.button {
  font-size: 16px;
  border: var(--button-border);
  border-radius: 4px;
  letter-spacing: .15px;
  outline: 0;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  white-space: normal;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  position: relative;
  overflow: hidden;
  color: var(--button-text);
  background-color: var(--button-bg);
}
body.dark .form.button:focus {
    outline: none;
}
.form.button.disabled {
    cursor: default;
    opacity: 0.5;
}
.form.button span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
}
@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
.form.button span.ripple {
  background-color: var(--menu-active-bg);
}
.form.button.green span.ripple {
  background-color: rgba(255, 255, 255, 0.7);
}
.form.button.yellow span.ripple {
  background-color: rgba(255, 255, 255, 0.7);
}
.form.button.red span.ripple {
  background-color: rgba(255, 255, 255, 0.7);
}
@media (hover: hover) {
    .form.button:hover:not(.disabled) {
        background-color: var(--button-hover-bg);
    }
}
.form.button:active:not(.disabled) {
    /*box-shadow: 0 1px 2px 0 rgba(60,64,67,0.3),0 2px 6px 2px rgba(60,64,67,0.15);*/
    background-color: var(--button-active-bg);
    border-color: transparent;
}
.form.button.red {
    background-color: var(--color-red) !important;
}
.form.button.red:hover:not(.disabled) {
    filter: brightness(0.9);
}
.form.button.red:active:not(.disabled) {
    filter: brightness(0.8);
}
.form.button.yellow {
    background-color: var(--color-yellow) !important;
}
.form.button.yellow:hover:not(.disabled) {
    filter: brightness(0.9);
}
.form.button.yellow:active:not(.disabled) {
    filter: brightness(0.8);
}
.form.button.green {
    background-color: var(--color-green) !important;
}
.form.button.green:hover:not(.disabled) {
    filter: brightness(0.9);
}
.form.button.green:active:not(.disabled) {
    filter: brightness(0.8);
}

/* TABLE */
div.form.table {
  border-top: var(--table-border);
}
div.form.table > div.row > div:first-child {
  border-left: var(--table-border);
} 
div.form.table > div.row > div:last-child {
  border-right: var(--table-border);
} 
div.form.table > div.row > div.right-align,
div.form.table > div.row > div:last-child {
  text-align: right;
}
div.form.table > div.row > div.left-align,
div.form.table > div.row > div {
  border-bottom: var(--table-border);
  text-align: left;
  vertical-align:middle;
} 
div.form.table {
  font-size: 16px;
  overflow: auto;
}
div.form.table > div.row {
  display: table-row;
}
div.form.table > div.row:hover {
  background-color: var(--content-hover-bg);
}
div.form.table > div.row > div {
  display: table-cell;
  padding: 10px;
  text-align: left;
  color: var(--content-text);
  white-space: nowrap;
  width: 1%;
}
div.form.table > div.row > div.grow {
  width: auto;
  white-space: normal; 
}
div.form.table > div.row:first-child > div.sort > span {
    padding-top: 3px;
    margin-left: -2px;
    margin-right: -20px;
}
div.form.table > div.row:first-child > div.sort {
    cursor: pointer;
}
/* DIALOG */
.dialogLayer {
    background-color: var(--info-panel-layer);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    transition: background-color 300ms linear;
    z-index: 100000;
    justify-content: center;
    align-items: center;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
       -moz-user-select: none; /* Firefox */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.dialogLayer .box {
    background-color: var(--bg);
    border-radius: 8px;
    border: var(--widget-border);
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 15px;
}
.dialogLayer .box .header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.dialogLayer .box .header,
.dialogLayer .box .body {
    color: var(--content-text);
}
.dialogLayer .box .info > div,
.dialogLayer .box .body {
    margin-bottom: 15px;
}
.dialogLayer .box .info {
    color: var(--color-red);
    font-size: 14px;
    transition: max-height 0.2s;
    overflow: hidden;
    max-height: 0px;
    text-align: right;
}
.dialogLayer .box .actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.dialogLayer .box .actions .form.button {
    margin-left: 5px;
}
.dialogLayer .box .actions .alignLeft {
    margin-right:auto;
}

/* AUTOCOMPLETE & SELECTIONBUTTON */
.buttonSelectionLayer,
.autoCompleteLayer {
    display: none;
    opacity: 0;
    position: absolute;
    z-index: 100001;
    background-color: var(--bg);
    max-height: 200px;
    overflow-y: auto;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-left: var(--widget-border);
    border-right: var(--widget-border);
    border-bottom: var(--widget-border);
    transition: opacity 100ms linear;
}
/* SELECTIONBUTTON */
div.buttonSelection {
    position: relative;
}
div.buttonSelection .form.button {
    padding-right: 40px;
}
div.buttonSelection div.buttonSelectionSelector {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 13px 1px 13px 1px;
    width: 25px;
    /*width: 27px;
    display: flex;
    flex-direction: column;
    justify-content: center;*/
    border-left: var(--widget-border);
    cursor: pointer;
    overflow: hidden;
}
div.buttonSelection div.buttonSelectionSelector > span:before {
    transition: transform 100ms linear;
    transform: rotate(90deg);
}
div.buttonSelection div.buttonSelectionSelector.open > span:before {
    transform: rotate(-90deg);
}
div.buttonSelection > div.buttonSelectionLayer {
    bottom: 0;
    right: 0;
    transform: translate(0, 98%);
    text-align: left;
    color: var(--button-text);
    background-color: var(--bg);
    border-top: var(--widget-border);
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
div.buttonSelection > div.buttonSelectionLayer > div {
    display: block;
    padding: 5px;
    cursor: pointer;
}   
div.buttonSelection > div.buttonSelectionLayer > div:hover {
    background-color: var(--menu-hover-bg);
}
@media (pointer: coarse) {
    div.buttonSelection .form.button {
        padding-right: 50px;
    }
    div.buttonSelection div.buttonSelectionSelector {
        width: 35px;
    }
    div.buttonSelection > div.buttonSelectionLayer > div {
        padding: 10px;
    }
}

/* AUTOCOMPLETE */
.autoCompleteLayer > div.separator {
    height: 1px;
    border-bottom: var(--widget-border);
}
.autoCompleteLayer > div.row {
    display: block;
    font-size: 14px;
    padding: 4px;
    cursor: pointer;
    text-align: left;
}
.autoCompleteLayer > div.row:hover {
    background-color: var(--menu-hover-bg);
}
.autoCompleteLayer > div.row.term {
    color: #666;
    font-style: italic;
}
.autoCompleteLayer > div.row.active {
  background-color: rgba(51,122,183,.20);
}
.autoCompletionSelection {
    display: none;
    flex-flow: wrap;
    margin-bottom: 5px;
    gap: 5px;
}
.autoCompletionSelection > div {
    display: flex;
    border-radius: 5px;
    border: var(--widget-border);
    font-size: 14px;
    padding: 4px;
    position: relative;
    background-color: var(--bg);
    cursor: pointer;
    line-height: 15px;
}
.autoCompletionSelection > div > div.value {
    margin-right: 18px;
}
.autoCompletionSelection > div > div.close {
    width: 14px;
    height: 14px;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
@media (pointer: coarse) {
    .autoCompleteLayer > div.row {
        font-size: 16px;
        padding: 10px;
    }
    .autoCompletionSelection > div {
        font-size: 15px;
        padding: 6px;
    }
    .autoCompletionSelection > div > div.close {
        width: 16px;
        height: 16px;
    }
}

/* TOOLTIP */
.tooltip {
  visibility: hidden;
  opacity: 0;
  color: var(--content-text);
  text-align: center;
  border: var(--widget-border);
  border-radius: 6px;
  padding: 5px 5px;
  position: fixed;
  z-index: 300;
  box-sizing: border-box;
  transition: opacity 0.3s;
  white-space: nowrap;
  background-color: var(--tooltip-bg);
  pointer-events: none;
  box-shadow: 1px 1px 2px var(--tooltip-shadow);
}
.tooltip > .arrow {
  display: inline-block;
  position: absolute;
  top: calc(100% - 3px);
  width: 6px;
  height: 6px;
  border: var(--widget-border);
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: var(--tooltip-bg);
  box-shadow: 1px 1px 2px var(--tooltip-shadow);
}
.tooltip > .arrow.top {
  top: -6px;
  transform: rotate(225deg);
  box-shadow: none;
}

.tooltip > .arrow.right {
  right: -5px;
  transform: rotate(-45deg);
}

.tooltip > .arrow.left {
  left: -5px;
  transform: rotate(135deg);
  box-shadow: none;
}

.tooltip.active {
  visibility: visible;
}  

/* ERROR & INFO */
div.error {
  width: 100%;
  max-width: 800px;
  margin: auto;
  text-align: center;
  padding-top: 20px;
  display: none;
} 

div.error > div {
  display: inline-block;
  color: var(--color-red);
}

