[Unit]
Description=Initialize power top recommendations
BindsTo=sys-subsystem-net-devices-eth0.device
Wants=network-online.target
After=network.target network-online.target sys-subsystem-net-devices-eth0.device

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c "echo '0' > '/proc/sys/kernel/nmi_watchdog'"                                                     # NMI watchdog sollte ausgeschaltet sein
ExecStart=/bin/sh -c "echo '1500' > '/proc/sys/vm/dirty_writeback_centisecs'"                                         # Zeitüberschreitung beim VM zurückschreiben
ExecStart=/bin/sh -c "echo 'max_performance' > '/sys/class/scsi_host/host0/link_power_management_policy'"             # link power management disabled because of hotplug and error "ata5.00: failed command: WRITE FPDMA QUEUED"
ExecStart=/bin/sh -c "echo 'max_performance' > '/sys/class/scsi_host/host1/link_power_management_policy'"
ExecStart=/bin/sh -c "echo 'max_performance' > '/sys/class/scsi_host/host2/link_power_management_policy'"
ExecStart=/bin/sh -c "echo 'max_performance' > '/sys/class/scsi_host/host3/link_power_management_policy'"
ExecStart=/bin/sh -c "echo 'max_performance' > '/sys/class/scsi_host/host4/link_power_management_policy'"
ExecStart=/bin/sh -c "echo 'max_performance' > '/sys/class/scsi_host/host5/link_power_management_policy'"
ExecStart=/bin/sh -c "echo 'max_performance' > '/sys/class/scsi_host/host6/link_power_management_policy'"
ExecStart=/bin/sh -c "echo 'max_performance' > '/sys/class/scsi_host/host7/link_power_management_policy'"
#ExecStart=/bin/sh -c "echo 'auto' > '/sys/bus/usb/devices/1-3.4/power/control'"                                       # AutoSuspend für USB-Gerät FT232R USB UART [FTDI]
#ExecStart=/bin/sh -c "echo 'auto' > '/sys/bus/usb/devices/1-8/power/control'"                                         # AutoSuspend für USB-Gerät AURA LED Controller [AsusTek Computer Inc.]
#ExecStart=/bin/sh -c "echo 'auto' > '/sys/bus/usb/devices/1-4/power/control'"                                         # AutoSuspend für USB-Gerät Ellipse PRO [EATON]
ExecStart=/bin/sh -c "echo 'auto' > '/sys/bus/pci/devices/0000:00:14.2/power/control'"                                # Laufzeit-Energieverwaltung für PCI-Gerät Intel Corporation Raptor Lake-S PCH Shared SRAM
ExecStart=/bin/sh -c "echo 'auto' > '/sys/bus/pci/devices/0000:04:00.0/power/control'"                                # Laufzeit-Energieverwaltung für PCI-Gerät Realtek Semiconductor Co., Ltd. RTL8125 2.5GbE Controller
ExecStart=/bin/sh -c "echo 'auto' > '/sys/bus/pci/devices/0000:00:17.0/power/control'"                                # Laufzeit-Energieverwaltung für PCI-Gerät Intel Corporation Raptor Lake SATA AHCI Controller
ExecStart=/bin/sh -c "echo 'auto' > '/sys/bus/pci/devices/0000:00:17.0/ata1/power/control'"                           # Runtime PM for port ata0 of PCI device: Intel Corporation Raptor Lake SATA AHCI Controller
ExecStart=/bin/sh -c "echo 'auto' > '/sys/bus/pci/devices/0000:00:17.0/ata2/power/control'"
ExecStart=/bin/sh -c "echo 'auto' > '/sys/bus/pci/devices/0000:00:17.0/ata3/power/control'"
ExecStart=/bin/sh -c "echo 'auto' > '/sys/bus/pci/devices/0000:00:17.0/ata4/power/control'"
ExecStart=/bin/sh -c "echo 'auto' > '/sys/bus/pci/devices/0000:00:17.0/ata5/power/control'"
ExecStart=/bin/sh -c "echo 'auto' > '/sys/bus/pci/devices/0000:00:17.0/ata6/power/control'"
ExecStart=/bin/sh -c "echo 'auto' > '/sys/bus/pci/devices/0000:00:17.0/ata7/power/control'"
ExecStart=/bin/sh -c "echo 'auto' > '/sys/bus/pci/devices/0000:00:17.0/ata8/power/control'"
ExecStart=/bin/sh -c "echo 'auto' > '/sys/bus/pci/devices/0000:00:1f.5/power/control'"                                # Laufzeit-Energieverwaltung für PCI-Gerät Intel Corporation Raptor Lake SPI (flash) Controller
ExecStart=/bin/sh -c "echo 'auto' > '/sys/bus/pci/devices/0000:01:00.0/power/control'"                                # Laufzeit-Energieverwaltung für PCI-Gerät NVIDIA Corporation TU106 [GeForce GTX 1650]
ExecStart=/bin/sh -c "echo 'auto' > '/sys/bus/pci/devices/0000:00:1f.0/power/control'"                                # Laufzeit-Energieverwaltung für PCI-Gerät Intel Corporation Device 7a06
ExecStart=/bin/sh -c "echo 'auto' > '/sys/block/sda/device/power/control'"                                            # Runtime PM for disk sda
ExecStart=/bin/sh -c "echo 'auto' > '/sys/block/sdb/device/power/control'"                                            # Runtime PM for disk sdb
ExecStart=/bin/sh -c "echo 'auto' > '/sys/block/sdc/device/power/control'"                                            # Runtime PM for disk sdc
ExecStart=/bin/sh -c "echo 'auto' > '/sys/block/sdd/device/power/control'"                                            # Runtime PM for disk sdd
ExecStart=/bin/sh -c "echo 'auto' > '/sys/bus/pci/devices/0000:00:0a.0/power/control'"                                # Laufzeit-Energieverwaltung für PCI-Gerät Intel Corporation Platform Monitoring Technology
ExecStart=/bin/sh -c "echo 'auto' > '/sys/bus/pci/devices/0000:00:00.0/power/control'"                                # Laufzeit-Energieverwaltung für PCI-Gerät Intel Corporation 12th Gen Core Processor Host Bridge

#ExecStart=/bin/sh -c "/usr/bin/nvidia-smi -pm ENABLED"                                                                # GPU persistance mode (persistance between program runs)
#ExecStart=/bin/sh -c "/usr/bin/nvidia-smi -pl 70"                                                                     # GPU max Powerlimit

[Install]
WantedBy=multi-user.target

