body {
  font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  background-color: white;
}
body.dark {
    background-color: #202124;
}
div.table {
  border-top: 1px solid #d2d2d2;
}
div.table > div.row > div:first-child {
  border-left: 1px solid #d2d2d2;
} 
div.table > div.row > div:last-child {
  border-right: 1px solid #d2d2d2;
} 
div.table > div.row > div {
  border-bottom: 1px solid #d2d2d2;
} 



div.table {
  width: 100%;
  max-width: 800px;
  margin: 10px auto;
  font-size: 16px;
  overflow: auto;
}
div.table > div.row {
  display: table-row;
}
div.table > div.row:hover {
  background-color: #f2f2f2;
}
body.dark div.table > div.row:hover {
  background-color: rgba(51,122,183,.20);
}
div.table > div.row:first-child > div {
    font-weight: bold;
}

div.table > div.row > div {
  display: table-cell;
  padding: 10px;
  text-align: left;
  color: #333;
  white-space: nowrap;
}
body.dark div.table > div.row > div {
  color: #eee;
}
div.table > div.row > div:nth-child(2) {
    width: 100%;
    white-space: normal; 
}
div.table > div.row > div:first-child {
    width: 5px;
    min-width: 5px;
    padding: 2px;
}
div.table > div.row > div:first-child,
body.dark div.table > div.row > div:first-child {
    color: #666;
}
div.table > div.row:first-child > div:first-child {
    background-color: #aaa;
    text-align: center;
}
div.table > div.row.red > div:first-child {
    background-color: #ff7479;
}
div.table > div.row.yellow > div:first-child  {
    background-color: #ffd768;
}

div.table > div.row.green > div:first-child  {
    background-color: #b5ce69;
}

div.versionLink, div.typeLink {
    cursor: pointer;
}

div.versionLink {
    display: inline-block;
}

div.currentBranch {
    font-weight: bold;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .hover {
  visibility: hidden;
  text-align: center;
  padding: 10px 10px;
  border-radius: 6px;
  top: 0;
  bottom: 0;
  left: 0;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  
  background-color: #f2f2f2;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .hover {
  visibility: visible;
}
.tooltip:hover .default {
  visibility: hidden;
}
