domain (ip ip6) {
    table filter chain {% if is_docker is defined and is_docker %}DOCKER-USER{% else %}INPUT{% endif %} proto {% if is_udp is defined and is_udp %}udp{% else %}tcp{% endif %}{% if source is defined and source != '' %} saddr {{source}}{% endif %} dport {{port}} ACCEPT;
} 




