KERNEL=="ttyUSB*", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="A900WY2S", SYMLINK+="ttyOpenHabHeizung", GROUP="dialout", MODE="0660"
