[Unit]
Description=update_service
After=network-online.target
Wants=network-online.target

[Service]
TimeoutStartSec=0
TimeoutStopSec=10
Restart=always
ExecStart=/opt/update_service/update_service
SyslogIdentifier=update_service

[Install]
WantedBy=multi-user.target
