# ***** CHECK *****
- name: check mysql service
  import_tasks: roles/mysql/tasks/wait_until_ready.yml
    
- name: check redis service
  import_tasks: roles/redis/tasks/wait_until_ready.yml

- name: check apache service
  import_tasks: roles/apache/tasks/wait_until_ready.yml

# ***** DISABLE APPS *****
- name: disable apps
  shell: "docker exec php sh -c \"php {{htdocs_path}}nextcloud/occ app:disable {{item}}\""
  register: command_result
  changed_when: "'disabled' in command_result.stdout"
#  failed_when: "'disabled' not in command_result.stdout and 'such app enabled' not in command_result.stdout"
  with_items:
    - dashboard

# ***** INSTALL APPS *****
- name: install apps
  shell: "docker exec php sh -c \"php {{htdocs_path}}nextcloud/occ app:install {{item}}\""
  register: command_result
  failed_when: "'installed' not in command_result.stdout and 'enabled' not in command_result.stdout and 'already exists' not in command_result.stdout"
  changed_when: "'enabled' in command_result.stdout"
  with_items:
    - user_saml # must always be the first one
    - onlyoffice # must always be the second one
    - bookmarks
    - contacts
    - calendar
    - notes
    - tasks
    
# ***** CONFIGURE user_saml *****
- name: enable environment based authentication through user_saml app
  shell: "docker exec mysql sh -c \"mysql -u root -h 127.0.0.1 nextcloud -e \\\"INSERT INTO oc_appconfig (appid, configkey, configvalue) VALUES ('user_saml', '{{item.name}}', '{{item.value}}') ON DUPLICATE KEY UPDATE configvalue='{{item.value}}';\\\"\""
  with_items:
    - { name: "type", value: "environment-variable" }
    - { name: "general-uid_mapping", value: "REMOTE_USERNAME" }
  when: "command_result.results[0].changed" # index 0 is app 'user_saml'

# ***** CONFIGURE onlyoffice *****
- name: set onlyoffice configuration
#  shell: "docker exec php sh -c \"php {{htdocs_path}}nextcloud/occ --no-warnings config:system:set onlyoffice {{item.name}} --value=\\\"{{item.value}}\\\"\""
  shell: "docker exec mysql sh -c \"mysql -u root -h 127.0.0.1 nextcloud -e \\\"INSERT INTO oc_appconfig (appid, configkey, configvalue) VALUES ('onlyoffice', '{{item.name}}', '{{item.value}}') ON DUPLICATE KEY UPDATE configvalue='{{item.value}}';\\\"\""
  with_items:
    - { name: "DocumentServerInternalUrl", value: "" }
    - { name: "DocumentServerUrl", value: "https://onlyoffice.{{server_domain}}/" }
    - { name: "StorageUrl", value: "" }
    - { name: "customizationChat", value: "false" }
    - { name: "customizationCompactHeader", value: "true" }
    - { name: "customizationFeedback", value: "false" }
    - { name: "customizationHelp", value: "true" }
    - { name: "customizationToolbarNoTabs", value: "true" }
    - { name: "defFormats", value: '{\\\"csv\\\":\\\"true\\\",\\\"doc\\\":\\\"true\\\",\\\"docm\\\":\\\"false\\\",\\\"docx\\\":\\\"true\\\",\\\"dotx\\\":\\\"true\\\",\\\"epub\\\":\\\"false\\\",\\\"html\\\":\\\"false\\\",\\\"odp\\\":\\\"true\\\",\\\"ods\\\":\\\"true\\\",\\\"odt\\\":\\\"true\\\",\\\"pdf\\\":\\\"false\\\",\\\"potm\\\":\\\"false\\\",\\\"potx\\\":\\\"false\\\",\\\"ppsm\\\":\\\"false\\\",\\\"ppsx\\\":\\\"true\\\",\\\"ppt\\\":\\\"false\\\",\\\"pptm\\\":\\\"false\\\",\\\"pptx\\\":\\\"false\\\",\\\"rtf\\\":\\\"true\\\",\\\"txt\\\":\\\"true\\\",\\\"xls\\\":\\\"true\\\",\\\"xlsm\\\":\\\"false\\\",\\\"xlsx\\\":\\\"true\\\",\\\"xltm\\\":\\\"false\\\",\\\"xltx\\\":\\\"false\\\"}' }
    - { name: "editFormats", value: '{\\\"csv\\\":\\\"true\\\",\\\"odp\\\":\\\"false\\\",\\\"ods\\\":\\\"false\\\",\\\"odt\\\":\\\"false\\\",\\\"rtf\\\":\\\"false\\\",\\\"txt\\\":\\\"true\\\"}' }
    - { name: "enabled", value: "yes" }
    - { name: "groups", value: "[]" }
    - { name: "sameTab", value: "false" }
  when: "command_result.results[1].changed"

- name: set onlyoffice shared key # must be separate to avoid visibile shared key in console log
  shell: "docker exec mysql sh -c \"mysql -u root -h 127.0.0.1 nextcloud -e \\\"INSERT INTO oc_appconfig (appid, configkey, configvalue) VALUES ('onlyoffice', 'jwt_secret', '{{vault_onlyoffice_shared_key}}') ON DUPLICATE KEY UPDATE configvalue='{{vault_onlyoffice_shared_key}}';\\\"\""
  when: "command_result.results[1].changed"

# ***** INSTALL KEEWEB *****
- name: install keeweb app => app does not exists
  unarchive:
    src: "https://github.com/jhass/nextcloud-keeweb/releases/download/v0.6.5/keeweb-0.6.5.tar.gz"
    dest: "{{htdocs_path}}nextcloud/apps/"
    remote_src: yes
    creates: "{{htdocs_path}}nextcloud/apps/keeweb/"
    owner: "{{system_users['www'].name}}"
    group: "{{system_groups['www'].name}}"
  register: keeweb_installation
  
- name: copy patched service-worker.js
  template:
    src: "templates/apps/service-worker.js"
    dest: "{{htdocs_path}}nextcloud/apps/keeweb/templates/service-worker.js"
    owner: "{{system_users['www'].name}}"
    group: "{{system_groups['www'].name}}"
    mode: 0644
#  when: keeweb_installation.changed

- name: check keeweb max version
  lineinfile:
    path: "{{htdocs_path}}nextcloud/apps/keeweb/appinfo/info.xml"
    regexp: '(.*max-version)="[0-9]+"(.*)'
    line: '\1="20"\2'
    backrefs: yes
#  when: keeweb_installation.changed
  
# ***** INSTALL NEWS *****
- name: install news app
  unarchive:
    src: "https://github.com/nextcloud/news/releases/download/15.3.2/news.tar.gz"
    dest: "{{htdocs_path}}nextcloud/apps/"
    remote_src: yes
    creates: "{{htdocs_path}}nextcloud/apps/news/"
    owner: "{{system_users['www'].name}}"
    group: "{{system_groups['www'].name}}"
  register: news_installed
  
#- name: patch news app min required version => app installation changed
#  lineinfile:
#    path: "{{htdocs_path}}nextcloud/apps/news/appinfo/info.xml"
#    regexp: '<nextcloud min-version='
#    line: '<nextcloud min-version="14" max-version="20"/>'
#  when: news_installed.changed
  
- name: prepare news config folder
  file:
    path: "{{item}}"
    state: directory
    owner: "{{system_users['www'].name}}"
    group: "{{system_groups['www'].name}}"
    mode: 0750
  with_items:
    - "{{nextcloud_data_path}}news"
    - "{{nextcloud_data_path}}news/config"
    
- name: copy news config
  template:
    src: "templates/apps/news.ini"
    dest: "{{nextcloud_data_path}}news/config/config.ini"
    owner: "{{system_users['www'].name}}"
    group: "{{system_groups['www'].name}}"
    mode: 0640
 
# maybe cleanup 
# UPDATE `oc_jobs` SET `reserved_at` = 0 WHERE `class` = 'OCA\\News\\Cron\\Updater'
  
# ***** ENABLE ADDITIONAL APPS *****
- name: get app status
  shell: "docker exec php sh -c \"php {{htdocs_path}}nextcloud/occ app:list\""
  register: app_status
  changed_when: no

- name: enable keeweb and news apps
  shell: "docker exec php sh -c \"php {{htdocs_path}}nextcloud/occ app:enable {{item}}\""
  register: command_result
  failed_when: "'enabled' not in command_result.stdout"
  when: "item not in app_status.stdout.split('Disabled')[0]"
  with_items:
    - keeweb
    - news

 
