[Unit]
Description=ci_service
After=network-online.target
Wants=network-online.target

[Service]
TimeoutStartSec=0
TimeoutStopSec=10
Restart=always
ExecStart=/opt/ci_service/ci_service
SyslogIdentifier=ci_service

[Install]
WantedBy=multi-user.target
