body.sticky div.header div.row > div.username {
    width: 0;
    min-width: 0;
    max-width: 0;
    height: 0;
    max-height: 0;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
    white-space: nowrap;
}
body.sticky div.header div.row > div.username *,
body.sticky div.header div.row > div span.hash {
    display: none;
}
div.form.table > div.row > div.cmd {
  width: auto;
  min-width:100px;
}
div.form.table > div.row > div.cmd > div{
  max-height: 43px;
  overflow-y: hidden;
  line-height: 22px;
}
