body.software div.not_available,
body.software div.is_running {
    text-align: center;
    padding-top: 20px;
}

body.software div.form.table {
    max-width: 800px;
    margin: auto;
}
body.software div.form.table > div.row:first-child > div {
    font-weight: bold;
}
body.software div.form.table > div.row > div:first-child {
    width: 5px;
    min-width: 5px;
    padding: 2px;
}
body.software div.form.table > div.row > div:first-child {
    color: var(--button-text);
}
body.software div.form.table > div.row:first-child > div:first-child {
    background-color: #aaa;
    text-align: center;
}
body.software div.form.table > div.row.red > div:first-child {
    background-color: var(--color-red);
}
body.software div.form.table > div.row.yellow > div:first-child  {
    background-color: var(--color-yellow);
}

body.software div.form.table > div.row.green > div:first-child  {
    background-color: var(--color-green);
}
body.software div.form.table > div.row > div:nth-child(2) {
    white-space: normal; 
}
body.software div.versionLink, div.typeLink {
    cursor: pointer;
}

body.software div.versionLink {
    display: inline-block;
}

body.software div.currentBranch {
    font-weight: bold;
}

body.software div.detailView {
    cursor: pointer;
    display: inline-block;
    color: #1976d2;
}
