@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?71209160');
  src: url('../font/fontello.eot?71209160#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?71209160') format('woff2'),
       url('../font/fontello.woff?71209160') format('woff'),
       url('../font/fontello.ttf?71209160') format('truetype'),
       url('../font/fontello.svg?71209160#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?71209160#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-cancel:before { content: '\e800'; } /* '' */
.icon-ok:before { content: '\e801'; } /* '' */
.icon-block:before { content: '\e802'; } /* '' */
.icon-cog:before { content: '\e803'; } /* '' */
.icon-export:before { content: '\e804'; } /* '' */
.icon-clock:before { content: '\e805'; } /* '' */
.icon-dot:before { content: '\e806'; } /* '' */
.icon-ccw:before { content: '\e807'; } /* '' */
.icon-resize-horizontal:before { content: '\e808'; } /* '' */
.icon-up:before { content: '\e809'; } /* '' */
.icon-down-1:before { content: '\e80a'; } /* '' */
.icon-inbox:before { content: '\e80b'; } /* '' */
.icon-left:before { content: '\e80c'; } /* '' */
.icon-right:before { content: '\e80d'; } /* '' */
.icon-play:before { content: '\e80e'; } /* '' */
.icon-stop:before { content: '\e80f'; } /* '' */
.icon-attention:before { content: '\e810'; } /* '' */
.icon-info-circled:before { content: '\e811'; } /* '' */
.icon-help-circled:before { content: '\e812'; } /* '' */
.icon-spin2:before { content: '\e831'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-down:before { content: '\f175'; } /* '' */
.icon-git:before { content: '\f1d3'; } /* '' */
