
.icon-cancel:before { content: '\e800'; } /* '' */
.icon-ok:before { content: '\e801'; } /* '' */
.icon-block:before { content: '\e802'; } /* '' */
.icon-cog:before { content: '\e803'; } /* '' */
.icon-export:before { content: '\e804'; } /* '' */
.icon-clock:before { content: '\e805'; } /* '' */
.icon-dot:before { content: '\e806'; } /* '' */
.icon-ccw:before { content: '\e807'; } /* '' */
.icon-resize-horizontal:before { content: '\e808'; } /* '' */
.icon-up:before { content: '\e809'; } /* '' */
.icon-down-1:before { content: '\e80a'; } /* '' */
.icon-inbox:before { content: '\e80b'; } /* '' */
.icon-left:before { content: '\e80c'; } /* '' */
.icon-right:before { content: '\e80d'; } /* '' */
.icon-play:before { content: '\e80e'; } /* '' */
.icon-stop:before { content: '\e80f'; } /* '' */
.icon-attention:before { content: '\e810'; } /* '' */
.icon-info-circled:before { content: '\e811'; } /* '' */
.icon-help-circled:before { content: '\e812'; } /* '' */
.icon-flow-tree:before { content: '\e813'; } /* '' */
.icon-globe:before { content: '\e814'; } /* '' */
.icon-cloud-1:before { content: '\e815'; } /* '' */
.icon-spin2:before { content: '\e831'; } /* '' */
.icon-table:before { content: '\f0ce'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-down:before { content: '\f175'; } /* '' */
.icon-git:before { content: '\f1d3'; } /* '' */
.icon-chart-area:before { content: '\f1fe'; } /* '' */
.icon-search-1:before { content: '\f50d'; } /* '' */
