[Unit]
Description=ElastAlert - Easy & Flexible Alerting With Elasticsearch
Documentation=https://elastalert.readthedocs.io
Requires=elasticsearch.service

[Service]
Type=simple
# wait max 5 minutes to give elasticsearch enough time to be ready
TimeoutStartSec=360
ExecStartPre=/usr/bin/timeout 300 bash -c 'while [[ "$(/usr/bin/curl -s -o /dev/null -w ''%{http_code}'' localhost:9200)" != "200" ]]; do sleep 5; done' || false
ExecStart=/usr/bin/elastalert --verbose --rule /etc/elastalert/rule.yaml --config /etc/elastalert/config.yaml
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
