- name: restart clamav => is_rhel or is_fedora
  systemd:
    name: "{{item}}"
    state: restarted
    daemon_reload: yes
    enabled: yes
    masked: no
  with_items:
    - clamd@scan
  listen: "restart clamav"
  when: is_rhel|bool or is_fedora|bool

- name: restart clamav => is_suse
  systemd:
    name: "{{item}}"
    state: restarted
    daemon_reload: yes
    enabled: yes
    masked: no
  with_items:
    - clamd
    - freshclam
  listen: "restart clamav"
  when: is_suse|bool