#https://mariadb.com/kb/en/innodb-system-variables
#https://docs.nextcloud.com/server/latest/admin_manual/configuration_database/linux_database_configuration.html

[server]
innodb_flush_log_at_trx_commit  = 2

tmp_table_size                  = 64M
max_heap_table_size             = 64M

key_buffer_size                 = 64M

innodb_log_file_size            = 512M
innodb_buffer_pool_size         = 2048M

#sort_buffer_size                = 1M
#join_buffer_size                = 512k  # => needed to eleminate "Joins without using an index"
join_buffer_size                = 256k

table_definition_cache          = 500

performance_schema              = ON
#performance-schema-instrument='stage/%=ON'
#performance-schema-consumer-events-stages-current=ON
#performance-schema-consumer-events-stages-history=ON
#performance-schema-consumer-events-stages-history-long=ON

#innodb_buffer_pool_instances    = 2 => deprecated from mariadb 10.5.1

#skip_name_resolve = 1
#innodb_buffer_pool_size = 128M
##innodb_log_buffer_size = 32M
#innodb_max_dirty_pages_pct = 90

#innodb_sort_buffer_size = 32M

#query_cache_type = 1
#query_cache_limit = 2M
#query_cache_min_res_unit = 2k
#query_cache_size = 64M

#slow_query_log = 1
#slow_query_log_file = /var/log/mysql/slow.log
#long_query_time = 1
#log-queries-not-using-indexes = 1



[mysqld]
pid-file                        = /run/mysqld/mysqld.pid
basedir                         = /usr
expire_logs_days                = 10

character_set_server            = utf8mb4
collation_server                = utf8mb4_general_ci
transaction_isolation           = READ-COMMITTED
binlog_format                   = ROW




[mariadbd]
skip-host-cache
skip-name-resolve




[client-server]
# Port or socket location where to connect
port                            = 3306
socket                          = /run/mysqld/mysqld.sock
