[Unit]
Description=Open Home Automation Bus
Documentation=http://docs.openhab.org
Documentation=https://community.openhab.org
Requires=network-online.target
Wants=mysql.service influxdb.service
After=mysql.service influxdb.service

[Service]
SyslogIdentifier=openhab
Environment=OPENHAB_STARTMODE=daemon

User=root
Group=root

WorkingDirectory={{data_path}}openhab-runtime
ExecStart={{data_path}}openhab-runtime/start.sh $OPENHAB_STARTMODE
ExecStop={{data_path}}openhab-runtime/start.sh stop

SuccessExitStatus=0 143
RestartSec=5
Restart=on-failure
TimeoutStopSec=120

LimitNOFILE=102642

[Install]
WantedBy=multi-user.target
