:root {
  --light-header-bg: #5576d24D;
  --dark-header-bg: #1976d24D;
  
  --light-fullsize-header-bg: #000000B3;
  --dark-fullsize-header-bg: #000000B3;
  
  --light-panel-header-bg: #1976D2;
  --dark-panel-header-bg: #1976d24D;

  --light-menu-header-button-svg: white;
  --dark-menu-header-button-svg: #CCC;

  --light-menu-headline-color: #1976D2;
  --light-menu-border-color: #1976D2;
  --light-menu-separator: #11111145;
  --dark-menu-headline-color: #e7e9ec;
  --dark-menu-border-color: #54565c;
  --dark-menu-separator: #ffffff90;

  --light-embed-progress: #555;
  --dark-embed-progress: #777;
  
  --light-content-nobackground-text: #111;
  --light-content-background-text: white;
  --light-content-hover-bg: var(--bgBasedHoverColor);
  --light-content-active-bg: var(--bgBasedActiveColor);
  --dark-content-nobackground-text: #bbb;
  --dark-content-background-text: #fff;
  --dark-content-hover-bg: var(--bgBasedHoverColor);
  --dark-content-active-bg: var(--bgBasedActiveColor);

  --light-submenu-text-color: white;
  --dark-submenu-text-color: white;

  --submenu-icon-color: white;
  --submenu-shadow-color: var(--bgBasedShadowColor);
  --submenu-shadow-home-main: 1px 1px 2px var(--submenu-shadow-color);
  --submenu-shadow-home-info: 1px 1px 2px var(--submenu-shadow-color);
  --submenu-shadow-service-button: 1px 1px 2px var(--submenu-shadow-color);
  --submenu-shadow-service-icon: 1px 1px 2px var(--submenu-shadow-color);
  --submenu-shadow-service-info: 1px 1px 2px var(--submenu-shadow-color);

  --alarm-button-default: white;
  --alarm-button-warn: #fe7d37;
  --alarm-button-error: #db4437;
  --alarm-button-disabled: #db4437;
  
  --image-watcher-text: yellow;
  --image-watcher-bg: black;

  --menu-panel-layer: black;
  
  --info-panel-layer: black;
  --info-panel-text: white;  
  --info-panel-shadow: 0 1px 2px #00000099;
  
  --app-header-button-svg: white;
}

:root body {
  --header-bg: var(--light-header-bg);
  
  --fullsize-header-bg: var(--light-fullsize-header-bg);
  
  --panel-header-bg: var(--light-panel-header-bg);

  --menu-header-button-svg: var(--light-menu-header-button-svg);
  --menu-headline-color: var(--light-menu-headline-color);
  --menu-border-color: var(--light-menu-border-color);
  --menu-separator-color: var(--light-menu-separator);

  --embed-progress: var(--light-embed-progress);
  
  --content-nobackground-text: var(--light-content-nobackground-text);
  --content-background-text: var(--light-content-background-text);
  --content-hover-bg: var(--light-content-hover-bg);
  --content-active-bg: var(--light-content-active-bg);

  --submenu-text-color: var(--light-submenu-text-color);

  --menu-text: var(--content-text);
}
:root body.dark {
  --header-bg: var(--dark-header-bg);
  
  --fullsize-header-bg: var(--dark-fullsize-header-bg);
  
  --panel-header-bg: var(--dark-panel-header-bg);

  --menu-header-button-svg: var(--dark-menu-header-button-svg);
  --menu-headline-color: var(--dark-menu-headline-color);
  --menu-border-color: var(--dark-menu-border-color);
  --menu-separator-color: var(--dark-menu-separator);

  --embed-progress: var(--dark-embed-progress);
  
  --content-nobackground-text: var(--dark-content-nobackground-text);
  --content-background-text: var(--dark-content-background-text);
  --content-nobackground-info: var(--dark-content-nobackground-info);
  --content-background-info: var(--dark-content-background-info);
  --content-hover-bg: var(--dark-content-hover-bg);
  --content-active-bg: var(--dark-content-active-bg);

  --submenu-text-color: var(--dark-submenu-text-color);
}

#app {
    height: 100%;
    box-sizing: border-box;
    user-select: none;
}
#page {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
    overflow: hidden;
}
#menu {
    margin-top: 0;
    margin-left: auto ;
    margin-right: auto ;
    padding: 0;
    max-width: 80%;
    box-sizing: border-box;
    background-color: var(--bg);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
#menu .main {
    flex-grow: 1;
    overflow: auto;
    /* for Firefox */
    min-height: 0;
}
#layer {
    background-color: var(--menu-panel-layer);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    transition: opacity 300ms linear;
}
#info {
    background-color: var(--info-panel-layer);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    transition: background-color 300ms linear;
    z-index: 100000;
    justify-content: center;
    align-items: center;
}
#info > div > span {
    display: block;
    text-align: center;
    color: var(--info-panel-text); 
    text-shadow: var(--info-panel-shadow);
}

#info > div > span.info {
    font-size: 40px;
    font-weight: bold;
}

#info > div > span.hint {
    font-size: 20px;
    font-weight: normal;
}

#info > div > span.progress {
    visibility: hidden;
}

#info > div > span.progress svg {
    height: 80px;
    width: 80px;
    fill: #fff;
}
#side, .vm-page {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;

    justify-content: flex-start; /* align items in Main Axis */
    align-items: stretch; /* align items in Cross Axis */
    align-content: stretch; /* Extra space in Cross Axis */
}
#side #header {
    background-color: var(--header-bg);
    display: flex;
    flex-direction:row;   
    justify-content: space-between;
}
#side.iframe #header {
  background-color: var(--panel-header-bg);

}
#side #header .button svg {
    color: var(--app-header-button-svg);
}
#menu .group.header .button svg {
    color: var(--menu-header-button-svg);
}
#menu .group.header .logout.button {
    align-items: center;
    display: none;
}
#menu .group.header .logout.button svg {
    height: 40px;
    width: 40px;
    margin-left: 15px;
}
body.phone #menu .group.header .logout.button {
    display: flex;
}
#app .burger.button svg {
    height: 56px;
    width: 56px;
}
#app .burger.button {
    transition: transform 400ms ease-out;
    display: flex;
    align-items: center;
}
#app .burger.button.open {
    transform: rotate(180deg);
}
#app .alarm.button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 16px;
}
#app .alarm.button svg {
    height: 21px;
    width: 21px;
    color: var(--alarm-button-default);
}
#app .alarm.button.disabled svg {
    color: var(--alarm-button-disabled);
}
#app .alarm.button .badge {
    margin-left: 4px;
    height: 20px;
    width: 20px;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    padding: 0 2px;
    text-align: center;
    color: var(--alarm-button-default);
    white-space: nowrap;
    border-radius: 5px;
}
#app .alarm.button.warn span.badge {
    background-color: var(--alarm-button-warn);
}
#app .alarm.button.error span.badge {
    background-color: var(--alarm-button-error);
}
#app .button {
    cursor: pointer;
}
#side #content {
    flex: 1 1 auto;
    height: 0;
}
#side #content #inline {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
#side #content #embed {
    height: 100%;
    width: 100%;
    transition: opacity 300ms linear;
    opacity: 0;
}
#side #content #embedProgress {
    height: 100%;
    width: 100%;
    display: flex;
}
#side #content #embedProgress svg {
    height: 80px;
    width: 80px;
    margin: auto;
    color: var(--embed-progress);
}
#side #content #embedError {
    height: 100%;
    width: 100%;
}
#side #content #embedError > div {
    max-width: 600px;
    margin: auto;
    margin-top: 10%;
}
#side #content #embedError .head {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
#side #content #embedError .info {
    font-size: 15px;
    margin-bottom: 10px;
}

#side #content #embedError .reason {
    font-size: 15px;
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}
#side #content #embedError .reason .important {
    font-weight: 600;
    white-space: nowrap;
    cursor: pointer;
}
#side #content #embedError .actions {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

#side #content #embedError #notfoundError .actions,
#side #content #embedError #notfoundError .head,
#side #content #embedError #notfoundError .info {
    display: block;
    text-align: center;
}

#menu #logo {
    margin: 4px;
    background-image:url(/main/img/marvinRightSmall.png);
    background-size: 44px 44px;
    height: 44px;
    width: 44px;
}
body.phone #menu #logo {
    margin-left: 14px;
}
#menu .spacer {
    flex-grow: 1;
    color: var(--alarm-button-default);
    line-height: 56px;
    overflow: hidden;
    font-weight: bold;
    opacity: 0;
}
#menu .group {
    margin-bottom: 5px;
}
#menu > .group:first-child {
    height: 56px;
    background-color: var(--panel-header-bg);
    display: flex;
    padding-left: 0;
    margin-right: 0;
    margin-bottom: 15px;
    justify-content: space-between;
}
#menu .logout.form.button {
    /*position: absolute;
    bottom: 0;
    left: 0;
    right: 0;*/
    margin: 16px;
} 
body.phone #menu .logout.form.button {
    display: none;
}
#menu .main .header {
    width: 100%;
    text-align: left;
    font-size: 18px;
    margin: 0 0 0 0;
    padding: 2px 2px 2px 25px;
    box-sizing: border-box;
    border-bottom: 1px solid var(--menu-border-color);
    color: var(--menu-headline-color);
}
body.phone #menu .header {
    font-size: 14px;
}
#menu .service {
    box-sizing: border-box;
    width: calc(100% - 10px);
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
    margin: 5px 10px 0 0px;
    box-sizing: border-box;
    align-items: center;
}
#menu .service div:first-child {
    width: 16px;
    height: 16px;
    padding: 0 20px 2px 25px;
}
#menu .group .submenu .service div:first-child {
    /*padding-left: 43px;*/
    padding-left: 62px;
}
/*#menu .service div:first-child img {
    filter: invert(28%);
    width: 100%;
}*/
#menu .service div:first-child svg {
    fill: var(--menu-text);
    height: 100%;
    width: 100%;
}
#menu .service div:last-child {
    color: var(--menu-text);
    font-size: 16px;
}
#menu .service, #submenu .service {
    transition: background-color 200ms ease-out; 
    -webkit-transition: background-color 200ms ease-out; 
    -moz-transition: background-color 200ms ease-out;
    -o-transition: background-color 200ms ease-out;
}
#menu .service {
    border-radius: 0 21px 21px 0;    
}
#submenu .service {
    border-radius: 20px;    
}
@media (hover: hover) {
  #menu .service.button:hover {
      background-color: var(--menu-hover-bg);
  }
}
#menu .separator {
    height: 1px;
    border-bottom: 2px dotted var(--menu-separator-color);
    width: 16px;
    margin-top: 5px;
    margin-left: 62px;
}
#menu .service.button:active {
    background-color: var(--menu-active-bg);
}
#menu .service.button.active {
    background-color: var(--menu-active-bg);
    color: #1976D2;
}
#menu .group .submenu {
    max-height: 0;
    transition: max-height 0.3s;
    display: none;
    overflow-y: hidden;
}
#background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
    opacity: 0;
    transition: opacity 200ms ease-out; 
}
body.dark #background {
    filter: brightness(70%);
}
@supports (backdrop-filter: none) {
    #background::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        pointer-events: none;
        backdrop-filter: blur(10px) opacity(0);
        transition: backdrop-filter 200ms ease-out;
    }
    #inline.content #background::after {
        backdrop-filter: blur(7px) opacity(1);
    }
}
@supports not (backdrop-filter: none) { /* Firefox */
    #background {
        top: -7px;
        left: -7px;
        bottom: -7px;
        right: -7px;
        margin: -7px;
        position: fixed;
        transition: all 200ms ease-out; 
    }
    #inline.content #background {
        filter: blur(7px);
    }
    body.dark #inline.content #background {
        filter: brightness(70%) blur(7px);
    }
}
#submenu .service.home {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
#submenu .service.home:active {
    background-color: transparent;
}
#submenu .service.home .time, #submenu .slogan {
    margin-left: auto;
    margin-right: auto;
    text-shadow: var(--submenu-shadow-home-main);
}
#submenu .service.home .image {
    text-shadow: var(--submenu-shadow-home-info);
    text-align: center;
    font-size: 106.25%;
    padding-top: 30px;
    padding-bottom: 30px;
}
#submenu .service.home .image .imageCopyright {
    opacity: 0;
    transition: opacity 300ms linear;
    padding-bottom: 10px;
}
#submenu .service.home .image:hover .imageCopyright {
    opacity: 1;
}
#submenu .service.home .time {
    cursor: default;
    font-size: 1050%;
    text-align:bottom;
    text-align:center;
}

body.phone #submenu .service.home .time {
    font-size: 600%;
}

#submenu .service.home .slogan {
    font-size: 337.5%;
    letter-spacing: 0;
    text-align:center;
    line-height: 1;
}
#submenu .service.home .bottom {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
body.nobackground #submenu {
    color: var(--content-nobackground-text);
}
#submenu {
    color: var(--submenu-text-color);
    height: 100%;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    box-sizing: border-box;
}
#submenu .group {
  position: relative;
  padding-bottom: 13px;
  padding-top: 10px;
}
#submenu .group:first-child {
  padding-top: 0;
}
#submenu .group:after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 400px;
    height: 1px;
    border-bottom: 2px dashed var(--content-background-text);
    opacity: 0.4;
}
#submenu .group:last-child:after {
    display: none;
}

#submenu .service.button {
    padding: 10px;
    width: 80%;
    max-width: 400px;
/*    text-align: center;*/
    margin-left: auto;
    margin-right: auto;
    border: 1px solid transparent;
}
#submenu .service.button > div:first-child {
    display: flex;
    align-items: center;
/*    justify-content: center;*/
}
/*#submenu .service.button > div:first-child img {
    filter: invert(100%);
    height: 30px;
    margin-right: 10px;
}*/
#submenu .service.button > div:first-child svg {
    fill: var(--submenu-icon-color);
    height: 30px;
    margin-right: 10px;
    filter: drop-shadow(var(--submenu-shadow-service-icon))
}
#submenu .service.button > div:first-child div {
    margin-top: -10px;
}
#submenu .service.button > div:first-child {
    font-size: 10vw;
    text-shadow: var(--submenu-shadow-service-button);
}
@media screen and (min-width: 601px) {
    #submenu .service.button > div:first-child {
        font-size: 40px;
    }
}
body.nobackground #submenu .service.button div:last-child {
    color: var(--content-nobackground-text);
}
#submenu .service.button > div:last-child {
    font-size: 106.25%;
    text-shadow: var(--submenu-shadow-service-info);
    padding-left: 40px;
}
@media (hover: hover) {
  #submenu .service.button:hover {
      background-color: var(--content-hover-bg);
  }
}
#submenu .service.button:active {
    filter: brightness(90%);
    background-color: var(--content-active-bg);
}
#submenu .service.imageWatcher {
    display:flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
}
#submenu .service.imageWatcher img {
    width: 100%;
}
#submenu .service.imageWatcher > div {
    position: relative;
    width: auto;
    max-width: 90%;
    padding-bottom: 5px;
}
#submenu .service.imageWatcher > div:first-child:nth-last-child(1) {
    width: auto;
    max-width: 90%;
}
#submenu .service.imageWatcher > div > a,
#submenu .service.imageWatcher > div > img {
    display: block;
}
#submenu .service.imageWatcher > div > span {
    position: absolute;
    top: 3px;
    color: var(--image-watcher-text);
}
#submenu .service.imageWatcher > div > span.name {
    left: 1%;    
}
#submenu .service.imageWatcher > div > span.time {
    right: 1%;
}
@media screen and (min-width: 1400px) {
    #submenu .service.imageWatcher {
        flex-direction: row;
        flex-grow: 0;
        margin-top: 0;
        align-items: stretch;
        justify-content: space-evenly;
    }
    #submenu .service.imageWatcher > div {
        width: calc(50% - 10px);
        padding-bottom: 0px;
    }
    #submenu .service.imageWatcher > div {
        background-color: var(--image-watcher-bg);
    }
    #submenu .service.imageWatcher > div > a,
    #submenu .service.imageWatcher > div > img {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}
body.desktop #menu {
    width: 300px;
}
body.desktop #side {
    margin-left: 300px;
}
body.desktop #side.fullsize {
    margin-left: 0;
}
body.desktop #side #header {
    display:none;
}
body.desktop #side.fullsize #header {
    display:inline-block;
    width: 56px;
    background-color: var(--fullsize-header-bg);
    position: absolute;
    z-index: 1000;
}
body.desktop #side.fullsize .alarm.button {
    padding: 16px 6px;
}
#side #content {
  max-height: 100%;
}
#side #content #inline {
  max-height: 100%;
  overflow-y: auto;
}
/*body.phone #side #content {
    overflow: scroll;
}*/
body.phone #menu .burger.button {
    display:none;
}
body.phone #menu .alarm.button {
    display:none;
}
body.phone #menu .spacer {
    opacity: 1;
}
body.phone #submenu .service.imageWatcher {
    margin-top: -5vh;
}
