:root {
  --light-bg: white;
  --dark-bg: #202124;
  
  --light-header-bg: rgba(85,118,210,0.3);
  --dark-header-bg: rgba(25,118,210,0.3);
  
  --light-fullsize-header-bg: rgba(0,0,0,0.7);
  --dark-fullsize-header-bg: rgba(0,0,0,0.7);
  
  --light-panel-header-bg: #1976D2;
  --dark-panel-header-bg: rgba(25,118,210,0.3);

  --light-menu-headline-color: #1976D2;
  --light-menu-border-color: #1976D2;
  --dark-menu-headline-color: #e7e9ec;
  --dark-menu-border-color: #383a3e;

  --light-embed-progress: #555;
  --dark-embed-progress: #777;
  
  --light-button-text: #3c4043;
  --light-button-hover-bg: #f7f8f8;
  --light-button-active-bg: #e8e8e9;
  --dark-button-text: #fff;
  --dark-button-hover-bg: rgba(25,118,210,0.12);
  --dark-button-active-bg: rgba(25,118,210,0.3);

  --light-menu-text: #111;
  --dark-menu-text: #fff;
  
  --light-menu-hover-bg: rgba(51,122,183,.12);
  --light-menu-active-bg: rgba(51,122,183,.22);
  --dark-menu-hover-bg: rgba(51,122,183,.20);
  --dark-menu-active-bg: rgba(51,122,183,.30);

  --light-content-nobackground-text: #111;
  --light-content-background-text: white;
  --light-content-image-text: rgba(255,255,255,.85);
  --light-content-nobackground-info: rgba(40,40,40,.9);
  --light-content-background-info: rgba(255,255,255,.9);
  --light-content-hover-bg: rgba(255,255,255,0.2);
  --light-content-active-text: #444;
  --light-content-active-bg: rgba(51,122,183,.12);
  --dark-content-nobackground-text: #bbb;
  --dark-content-background-text: #fff;
  --dark-content-image-text: rgba(255,255,255,.85);
  --dark-content-nobackground-info: rgba(255,255,255,.3);
  --dark-content-background-info: rgba(255,255,255,.9);
  --dark-content-hover-bg: rgba(255,255,255,0.2);
  --dark-content-active-text: #444;
  --dark-content-active-bg: rgba(51,122,183,.12);

  --alarm-button-default: white;
  --alarm-button-warn: #fe7d37;
  --alarm-button-error: #db4437;
  --alarm-button-disabled: #db4437;
  
  --menu-panel-layer: black;
  --info-panel-layer: rgba(0,0,0,0);
  --info-panel-text: white;
  
  --image-watcher-text: yellow;
  --image-watcher-bg: black;
}

html {
    height: 100%;
    box-sizing: border-box;
}
body {
    background-color: var(--light-bg);
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
       -moz-user-select: none; /* Firefox */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
body.dark {
    background-color: var(--dark-bg);
}
#page {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
    overflow: hidden;
}
#menu {
    margin-top: 0;
    margin-left: auto ;
    margin-right: auto ;
    padding: 0;
    max-width: 80%;
    box-sizing: border-box;
    background-color: var(--light-bg);
}
body.dark #menu {
    background-color: var(--dark-bg);
}
#layer {
    background-color: var(--menu-panel-layer);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    transition: opacity 300ms linear;
}
#info {
    background-color: var(--info-panel-layer);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    transition: background-color 300ms linear;
    z-index: 100000;
    justify-content: center;
    align-items: center;
}
#info > div > span {
    display: block;
    text-align: center;
    color: var(--info-panel-text);
    text-shadow: 0 1px 5px rgba(0,0,0,.6);
}

#info > div > span.info {
    font-size: 40px;
    font-weight: bold;
}

#info > div > span.hint {
    font-size: 20px;
    font-weight: normal;
}

#info > div > span.progress {
    visibility: hidden;
}

#info > div > span.progress svg {
    height: 80px;
    width: 80px;
    fill: #fff;
}
#side, .vm-page {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;

    justify-content: flex-start; /* align items in Main Axis */
    align-items: stretch; /* align items in Cross Axis */
    align-content: stretch; /* Extra space in Cross Axis */
}
#side #header {
    background-color: var(--light-header-bg);
    display: flex;
    flex-direction:row;   
    justify-content: space-between;
}
body.dark #side #header {
    background-color: var(--dark-header-bg);
}
#side.iframe #header {
  background-color: var(--light-panel-header-bg);

}
body.dark #side.iframe #header {
  background-color: var(--dark-panel-header-bg);

}
.burger.button svg {
    height: 56px;
    width: 56px;
}
.burger.button {
    transition: transform 400ms ease-out;
}
.burger.button.open {
    transform: rotate(180deg);
}
.alarm.button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 16px;
}
.alarm.button svg {
    height: 21px;
    width: 21px;
    color: var(--alarm-button-default);
}
.alarm.button.disabled svg {
    color: var(--alarm-button-disabled);
}
.alarm.button .badge {
    margin-left: 4px;
    height: 20px;
    width: 20px;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    padding: 0 2px;
    text-align: center;
    color: var(--alarm-button-default);
}
.alarm.button.warn span.badge {
    background-color: var(--alarm-button-warn);
}
.alarm.button.error span.badge {
    background-color: var(--alarm-button-error);
}
.button {
    cursor: pointer;
}
#side #content {
    flex: 1 1 auto;
    height: 0;
}
#side #content #inline {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
#side #content #embed {
    height: 100%;
    width: 100%;
    transition: opacity 300ms linear;
    opacity: 0;
}
#side #content #embedProgress {
    height: 100%;
    width: 100%;
    display: flex;
}
#side #content #embedProgress svg {
    height: 80px;
    width: 80px;
    margin: auto;
    color: var(--light-embed-progress);
}
body.dark #side #content #embedProgress svg {
    color: var(--dark-embed-progress);
}
#menu #logo {
    margin: 6px 6px 6px 2px;
    background-image:url(/main/img/marvinRightSmall.png);
    background-size: 44px 44px;
    height: 44px;
    width: 44px;
    -webkit-tap-highlight-color: transparent;
}
body.phone #menu #logo {
    margin-left: 14px;
}
#menu .spacer {
    flex-grow: 1;
    color: var(--alarm-button-default);
    line-height: 56px;
    overflow: hidden;
    font-weight: bold;
    opacity: 0;
}
#menu .group {
    margin-bottom: 5px;
}
#menu .group:first-child {
    height: 56px;
    background-color: var(--light-panel-header-bg);
    display: flex;
    margin-right: 0;
    margin-bottom: 15px;
    justify-content: space-between;
}
body.dark #menu .group:first-child {
    background-color: var(--dark-panel-header-bg);
}
#menu .logout {
    border: 1px solid #dadce0;
    border-radius: 4px;
    letter-spacing: .15px;
    margin: 16px;
    outline: 0;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    white-space: normal;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: var(--light-button-text);
}
body.dark #menu .logout {
    color: var(--dark-button-text);
}
@media (hover: hover) {
    #menu .logout:hover {
        background-color: var(--light-button-hover-bg);
    }
    body.dark #menu .logout:hover {
        background-color: var(--dark-button-hover-bg);
    }
}
#menu .logout:active {
    background-color: var(--light-button-active-bg);
    border-color:transparent;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.3),0 2px 6px 2px rgba(60,64,67,0.15);
    -webkit-tap-highlight-color: transparent;
}
body.dark #menu .logout:active {
    background-color: var(--dark-button-active-bg);
}
#menu .logout:focus {
    outline: none;
}
#menu .header {
    width: 100%;
    text-align: left;
    font-size: 18px;
    margin: 0 0 0 0;
    padding: 2px 2px 2px 25px;
    box-sizing: border-box;
    border-bottom: 1px solid var(--light-menu-headline-color);
    color: var(--light-menu-border-color);
}
body.dark #menu .header {
    color: var(--dark-menu-headline-color);
    border-bottom: 1px solid var(--dark-menu-border-color);
}
body.phone #menu .header {
    font-size: 14px;
}
#menu .service {
    box-sizing: border-box;
    width: calc(100% - 10px);
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
    margin: 5px 10px 0 0px;
    box-sizing: border-box;
}
#menu .service div:first-child {
    width: 20px;
    padding: 1px 20px 2px 25px;
}
/*#menu .service div:first-child img {
    filter: invert(28%);
    width: 100%;
}*/
#menu .service div:first-child svg {
    fill: var(--light-menu-text);
    height: 100%;
    width: 100%;
}
/*body.dark #menu .service div:first-child img {
    filter: invert(100%);
}*/
body.dark #menu .service div:first-child svg {
    fill: var(--dark-menu-text);
}
#menu .service div:last-child {
    color: var(--light-menu-text);
    font-size: 16px;
}
body.dark #menu .service div:last-child {
    color: var(--dark-menu-text);
}
#menu .service, #submenu .service {
    transition: background-color 200ms ease-out; 
    -webkit-transition: background-color 200ms ease-out; 
    -moz-transition: background-color 200ms ease-out;
    -o-transition: background-color 200ms ease-out;
}
#menu .service {
    border-radius: 0 21px 21px 0;    
}
#submenu .service {
    border-radius: 20px;    
}
@media (hover: hover) {
  #menu .service.button:hover {
      background-color: var(--light-menu-hover-bg);
  }
  body.dark #menu .service.button:hover {
      background-color: var(--dark-menu-hover-bg);
  }
}
#menu .service.button:active {
    background-color: var(--light-menu-active-bg);
    -webkit-tap-highlight-color: transparent;
}
body.dark #menu .service.button:active {
    background-color: var(--dark-menu-active-bg);
}
#menu .service.button.active {
    background-color: var(--light-menu-active-bg);
    color: #1976D2;
}
body.dark #menu .service.button.active {
    background-color: var(--dark-menu-active-bg);
}
#background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
    opacity: 0;
    transition: opacity 200ms ease-out; 
    -webkit-transition: opacity 200ms ease-out; 
    -moz-transition: opacity 200ms ease-out;
    -o-transition: opacity 200ms ease-out;
}
body.dark #background {
    filter: brightness(70%);
}
#submenu .service.home {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
#submenu .service.home:active {
    background-color: transparent;
}
#submenu .service.home .time, #submenu .slogan, #submenu .service.home .imageTitle {
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    text-shadow: 0 1px 5px rgba(0,0,0,.1);
}
#submenu .service.home .time {
    cursor: default;
    font-size: 1050%;
    font-weight: 500;
    text-align:bottom;
    text-align:center;
}

body.phone #submenu .service.home .time {
    font-size: 600%;
}

#submenu .service.home .slogan {
    font-size: 337.5%;
    letter-spacing: 0;
    text-align:center;
    line-height: 1;
}
#submenu .service.home .imageTitle {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 106.25%;
    line-height: 60px;
    color: var(--light-content-image-text);
}
body.dark #submenu .service.home .imageTitle {
    color: var(--dark-content-image-text);
}
body.nobackground #submenu {
    color: var(--light-content-nobackground-text);
}
body.dark.nobackground #submenu {
    color: var(--dark-content-nobackground-text);
}
#submenu {
    color: var(--light-content-background-text);
    height: 100%;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    box-sizing: border-box;
}
body.dark #submenu {
    color: var(--dark-content-background-text);
}
#submenu .group {
  position: relative;
  padding-bottom: 13px;
  padding-top: 10px;
}
#submenu .group:first-child {
  padding-top: 0;
}
#submenu .group:after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 400px;
    height: 1px;
    border-bottom: 2px dashed var(--light-content-background-text);
    opacity: 0.4;
}
#submenu .group:last-child:after {
    display: none;
}

#submenu .service.button {
    padding: 10px;
    width: 80%;
    max-width: 400px;
/*    text-align: center;*/
    margin-left: auto;
    margin-right: auto;
    border: 1px solid transparent;
}
#submenu .service.button > div:first-child {
    display: flex;
    align-items: center;
/*    justify-content: center;*/
}
/*#submenu .service.button > div:first-child img {
    filter: invert(100%);
    height: 30px;
    margin-right: 10px;
}*/
#submenu .service.button > div:first-child svg {
    fill: #FFF;
    height: 30px;
    margin-right: 10px;
}
#submenu .service.button > div:first-child div {
    margin-top: -10px;
}
#submenu .service.button > div:first-child {
    font-size: 10vw;
    text-shadow: 0 1px 5px rgba(0,0,0,.6);
}
@media screen and (min-width: 601px) {
    #submenu .service.button > div:first-child {
        font-size: 40px;
    }
}
body.nobackground #submenu .service.button div:last-child {
    color: var(--light-content-nobackground-info);
}
body.dark.nobackground #submenu .service.button div:last-child {
    color: var(--dark-content-nobackground-info);
}
#submenu .service.button > div:last-child {
    color: var(--light-content-background-info);
    font-size: 112.5%;
    font-weight: 300;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    padding-left: 40px;
}
body.dark #submenu .service.button > div:last-child {
    color: var(--dark-content-background-info);
}
@media (hover: hover) {
  #submenu .service.button:hover {
      background-color: var(--light-content-hover-bg);
  }
  body.dark #submenu .service.button:hover {
      background-color: var(--dark-content-hover-bg);
  }
}
#submenu .service.button:active {
    color: var(--light-content-active-text);
    background-color: var(--light-content-active-bg);
    -webkit-tap-highlight-color: transparent;
}
body.dark #submenu .service.button:active {
    color: var(--dark-content-active-text);
    background-color: var(--dark-content-active-bg);
}
#submenu .service.imageWatcher {
    display:flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
}
#submenu .service.imageWatcher img {
    width: 100%;
}
#submenu .service.imageWatcher > div {
    position: relative;
}
#submenu .service.imageWatcher > div:first-child:nth-last-child(1) {
    max-width: 90%;
}
#submenu .service.imageWatcher > div:first-child:nth-last-child(2) {
    max-width: 640px;
}
#submenu .service.imageWatcher > div > a,
#submenu .service.imageWatcher > div > img {
    display: block;
}
#submenu .service.imageWatcher > div > span {
    position: absolute;
    top: 3px;
    color: var(--image-watcher-text);
}
#submenu .service.imageWatcher > div > span.name {
    left: 1%;    
}
#submenu .service.imageWatcher > div > span.time {
    right: 1%;
}
@media screen and (min-width: 1000px) {
    #submenu .service.imageWatcher {
        flex-direction: row;
        flex-grow: 0;
        margin-top: 0;
        align-items: stretch;
        justify-content: space-evenly;
    }
    #submenu .service.imageWatcher > div {
        background-color: var(--image-watcher-bg);
    }
    #submenu .service.imageWatcher > div:first-child:nth-last-child(2) {
        width:calc(50% - 10px);
    }
    #submenu .service.imageWatcher > div > a,
    #submenu .service.imageWatcher > div > img {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}
body.desktop #menu {
    width: 300px;
}
body.desktop #side {
    margin-left: 300px;
}
body.desktop #side.fullsize {
    margin-left: 0;
}
body.desktop #side #header {
    display:none;
}
body.desktop #side.fullsize #header {
    display:inline-block;
    width: 56px;
    background-color: var(--light-fullsize-header-bg);
    position: absolute;
    z-index: 1000;
}
body.dark.desktop #side.fullsize #header {
    background-color: var(--dark-fullsize-header-bg);
}
body.desktop #side.fullsize .alarm.button {
    padding: 16px 6px;
}
#side #content {
  max-height: 100%;
}
#side #content #inline {
  max-height: 100%;
  overflow-y: auto;
}
/*body.phone #side #content {
    overflow: scroll;
}*/
body.phone #menu .burger.button {
    display:none;
}
body.phone #menu .alarm.button {
    display:none;
}
body.phone #menu .spacer {
    opacity: 1;
}
body.phone #submenu .service.imageWatcher {
    margin-top: -5vh;
}
