html {
    height: 100%;
    box-sizing: border-box;
}
body {
    background: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
       -moz-user-select: none; /* Firefox */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
#page {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
    overflow: hidden;
}
#menu {
    margin-top: 0;
    margin-left: auto ;
    margin-right: auto ;
    padding: 0;
    max-width: 100%;
    box-sizing: border-box;
    background-color: white;
}
#side, .vm-page {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;

    justify-content: flex-start; /* align items in Main Axis */
    align-items: stretch; /* align items in Cross Axis */
    align-content: stretch; /* Extra space in Cross Axis */
}
#side #header {
    background-color: #1976D2;
    display: flex;
    flex-direction:row;   
    justify-content: space-between;
}
.burger.button svg {
    height: 56px;
    width: 56px;
}
.burger.button {
    transition: transform 400ms ease-out;
}
.burger.button.open {
    transform: rotate(180deg);
}
.alarm.button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 16px;
}
.alarm.button svg {
    height: 21px;
    width: 21px;
    color: white;
}
.alarm.button .badge {
    margin-left: 4px;
    height: 20px;
    width: 20px;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    padding: 0 2px;
    text-align: center;
    color: white;
}
.alarm.button span.badge {
    /*color: #4c1;*/
}
.alarm.button.warn span.badge {
    background-color: #fe7d37;
}
.alarm.button.error span.badge {
    background-color: #db4437;
}
.button {
    cursor: pointer;
}
#side #content {
    flex: 1;
}
#side #content #inline {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
#side #content iframe {
    height: 100%;
    width: 100%;
}
#menu #logo {
    margin: 6px 6px 6px 0;
    background-image:url(/main/img/marvinRight.png);
    background-size: 44px 44px;
    height: 44px;
    width: 44px;
}
#menu .spacer {
    flex-grow: 1;
}
#menu .group {
    padding: 0 5px 0 0;
    margin-bottom: 5px;
    margin-right: 5px;
}
#menu .group:first-child {
    height: 56px;
    background-color: #1976D2;
    display: flex;
    margin-right: 0;
    justify-content: space-between;
}
#menu .header {
    width: 100%;
    text-align: left;
    color: white;
    font-size: 18px;
    margin: 0 0 0 5px;
    padding: 2px 2px 2px 5px;
    box-sizing: border-box;
    border-bottom: 1px solid #1976D2;
    color: #1976D2;
}
#menu .service {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 5px;
    margin: 5px 0 0 5px;
    box-sizing: border-box;
    border: 1px solid transparent;
}
#menu .service div:first-child {
    padding-right: 10px;
    color: #111;
    font-size: 16px;
}
#menu .service div:last-child {
    padding-left: 10px;
    width: 50%;
    box-sizing: border-box;
    color: #444;
    font-size: 16px;
}
#menu .service, #submenu .service {
    transition: background-color 200ms ease-out; 
    -webkit-transition: background-color 200ms ease-out; 
    -moz-transition: background-color 200ms ease-out;
    -o-transition: background-color 200ms ease-out;
}
#background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
    opacity: 0;
    transition: opacity 200ms ease-out; 
    -webkit-transition: opacity 200ms ease-out; 
    -moz-transition: opacity 200ms ease-out;
    -o-transition: opacity 200ms ease-out;
}
#submenu .service.home {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
#submenu .service.home .time, #submenu .slogan, #submenu .service.home .imageTitle {
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    text-shadow: 0 1px 5px rgba(0,0,0,.1);
}
#submenu .service.home .time {
    cursor: default;
    font-size: 1050%;
    font-weight: 500;
    text-align:bottom;
    text-align:center;
}

body.phone #submenu .service.home .time {
    font-size: 600%;
}

#submenu .service.home .slogan {
    font-size: 337.5%;
    letter-spacing: 0;
    text-align:center;
    line-height: 1;
}
#submenu .service.home .imageTitle {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 106.25%;
    line-height: 60px;
    color: rgba(255,255,255,.85);
}
body.nobackground #submenu {
    color: #111;
}
#submenu {
    color: white;
    height: 100%;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    box-sizing: border-box;
}
#submenu .service.button {
    padding: 10px;
    width: 80%;
    max-width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid transparent;
}
#submenu .service.button div:first-child {
    font-size: 10vw;
    text-shadow: 0 1px 5px rgba(0,0,0,.1);
}
@media screen and (min-width: 601px) {
    #submenu .service.button div:first-child {
        font-size: 40px;
    }
}
body.nobackground #submenu .service.button div:last-child {
    color: rgba(40,40,40,.9);
}
#submenu .service.button div:last-child {
    color: rgba(255,255,255,.9);
    font-size: 112.5%;
    font-weight: 300;
    text-shadow: 0 1px 5px rgba(0,0,0,.1);
}
#submenu .service.button:active {
    color: #444;
}
#submenu .service.camera {
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    flex-grow: 1;
}
#submenu .service.camera img {
    width: 100%;
}
@media screen and (min-width: 1000px) {
    #submenu .service.camera {
        flex-direction: row;
        flex-grow: 0;
    }
    #submenu .service.camera div.strasse {
        min-width:640px;
        min-height:480px;
    }
    #submenu .service.camera div.automower {
        min-width:320px;
        min-height:240px;
    }
}
#submenu .service.camera > div {
    position: relative;
}
#submenu .service.camera > div span {
    position: absolute;
    top: 3px;
    color: yellow;
}
#submenu .service.camera > div span.name {
    left: 3px;
}
#submenu .service.camera > div span.time {
    right: 3px;
}

body.desktop #menu {
    width: 300px;
}
body.desktop #menu .service.button:hover {
    background-color: #f2f2f2;
    border: 1px solid rgba(0,0,0,0.1);
}
body.desktop #submenu .service.button:hover {
    background-color: rgba(255,255,255,0.2);
}
body.desktop #side #header {
    display:none;
}
body.desktop #side.fullsize #header {
    display:inline-block;
    width: 56px;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
}
body.desktop #side.fullsize .alarm.button {
    padding: 16px 6px;
}
/*body.phone #side #content {
    overflow: scroll;
}*/
body.phone #menu .burger.button {
    display:none;
}
body.phone #menu .alarm.button {
    display:none;
}

#menu .service:active, #submenu .service:active {
    background-color: rgba(51,122,183,.12);
}
#menu .service.active {
    background-color: rgba(51,122,183,.12);
    border-top: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
    color: #1976D2;   
}

