/* BUTTON */
.form.button {
  font-size: 16px;
  border: 1px solid #dadce0;
  border-radius: 4px;
  letter-spacing: .15px;
  outline: 0;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  white-space: normal;
  color: var(--light-button-text);
  display: inline-block;
}
body.dark .form.button {
    color: var(--dark-button-text);
}
@media (hover: hover) {
    .form.button:hover:not(.disabled) {
        background-color: var(--light-button-hover-bg);
    }
    body.dark .form.button:hover:not(.disabled) {
        background-color: var(--dark-button-hover-bg);
    }
}
.form.button {
    background-color: var(--light-button-bg);
  
}
body.dark .form.button {
    background-color: var(--dark-button-bg);
}
body.dark .form.button:focus {
    outline: none;
}
.form.button.disabled {
    opacity: 0.5;
}
.form.button:active:not(.disabled) {
    background-color: var(--light-button-active-bg);
    border-color: transparent;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.3),0 2px 6px 2px rgba(60,64,67,0.15);
    -webkit-tap-highlight-color: transparent;
}
body.dark .form.button:active:not(.disabled) {
    background-color: var(--dark-button-active-bg);
}
.form.button.red {
    background-color: var(--color-red) !important;
}
.form.button.red:hover:not(.disabled) {
    filter: brightness(0.9);
}
.form.button.red:active:not(.disabled) {
    filter: brightness(0.8);
}
.form.button.yellow {
    background-color: var(--color-yellow) !important;
}
.form.button.yellow:hover:not(.disabled) {
    filter: brightness(0.9);
}
.form.button.yellow:active:not(.disabled) {
    filter: brightness(0.8);
}
.form.button.green {
    background-color: var(--color-green) !important;
}
.form.button.green:hover:not(.disabled) {
    filter: brightness(0.9);
}
.form.button.green:active:not(.disabled) {
    filter: brightness(0.8);
}

/* TABLE */
div.form.table {
  border-top: 1px solid #d2d2d2;
}
div.form.table > div.row > div:first-child {
  border-left: 1px solid #d2d2d2;
} 
div.form.table > div.row > div:last-child {
  border-right: 1px solid #d2d2d2;
} 
div.form.table > div.row > div {
  border-bottom: 1px solid #d2d2d2;
} 
div.form.table {
  font-size: 16px;
  overflow: auto;
}
div.form.table > div.row {
  display: table-row;
}
div.form.table > div.row:hover {
  background-color: #f2f2f2;
}
body.dark div.form.table > div.row:hover {
  background-color: rgba(51,122,183,.20);
}
div.form.table > div.row > div {
  display: table-cell;
  padding: 10px;
  text-align: left;
  color: #333;
  white-space: nowrap;
}
body.dark div.form.table > div.row > div {
  color: #eee;
}

/* DIALOG */
.dialogLayer {
    background-color: var(--info-panel-layer);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    transition: background-color 300ms linear;
    z-index: 100000;
    justify-content: center;
    align-items: center;
}

.dialogLayer .box {
    background-color: var(--light-bg);
    border-radius: 8px;
    border: 1px solid #dadce0;
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 15px;
}
body.dark .dialogLayer .box {
    background-color: var(--dark-bg);
}
.dialogLayer .box .header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.dialogLayer .box .header,
.dialogLayer .box .body {
    color: var(--light-menu-text);
}
body.dark .dialogLayer .box .header,
body.dark .dialogLayer .box .body {
    color: var(--dark-menu-text);
}
.dialogLayer .box .body {
    margin-bottom: 15px;
}
.dialogLayer .box .actions {
    display: flex;
    align-items: center;
    justify-content: right;
}
.dialogLayer .box .actions .form.button {
    margin-left: 5px;
}

/* AUTOCOMPLETE */
.autoCompleteLayer {
    display: none;
    opacity: 0;
    position: absolute;
    z-index: 100001;
    background-color: var(--light-bg);
    max-height: 200px;
    overflow-y: auto;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-left: 1px solid #dadce0;
    border-right: 1px solid #dadce0;
    border-bottom: 1px solid #dadce0;
    transition: opacity 100ms linear;
}
body.dark .autoCompleteLayer {
    background-color: var(--dark-bg);
}
.autoCompleteLayer > div.separator {
    height: 1px;
    border-bottom: 1px solid #dadce0;
}
.autoCompleteLayer > div.row {
    display: block;
    font-size: 12px;
    padding: 2px;
    cursor: pointer;
}
.autoCompleteLayer > div.row:hover {
    background-color: #f2f2f2;
}
.autoCompleteLayer > div.row.term {
    color: #666;
    font-style: italic;
}
.autoCompleteLayer > div.row.active {
  background-color: rgba(51,122,183,.20);
}
body.dark .autoCompleteLayer > div:hover {
  background-color: rgba(51,122,183,.20);
}
.autoCompletionSelection {
    display: none;
    flex-flow: wrap;
    margin-bottom: 5px;
    gap: 5px;
}
.autoCompletionSelection > div {
    display: flex;
    border-radius: 5px;
    border: 1px solid #dadce0;
    font-size: 12px;
    padding: 2px;
    position: relative;
    background-color: #FFF;
    cursor: pointer;
}
.autoCompletionSelection > div > div.value {
    margin-right: 18px;
}
.autoCompletionSelection > div > div.close {
    width: 14px;
    height: 14px;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.autoCompletionSelection > div > div.close::before {
    content: "✖";
    margin-left: 2px;
    line-height: 15px;
}
