[Unit]
Description=Fluentd
Documentation=http://www.fluentd.org/
Requires=elasticsearch.service

[Service]
LimitNOFILE=65536
Type=forking
ExecStart=/usr/{{ 'bin/fluentd.ruby2.5' if is_suse|bool else 'local/bin/fluentd' }} -c /etc/fluent/fluent.conf --log-rotate-age 3 --log-rotate-size 10485760 --log {{global_log}}fluentd/fluentd.log --daemon /var/run/fluentd/fluentd.pid


PIDFile=/var/run/fluentd/fluentd.pid
RuntimeDirectory=fluentd
ExecStop=/bin/kill -TERM ${MAINPID}
ExecReload=/bin/kill -HUP ${MAINPID}
Restart=always
TimeoutStopSec=120


[Install]
WantedBy=multi-user.target 
