    <Location />
        <RequireAny>
{% for username in userdata %}{% if usergroup in userdata[username].groups %}
            Require user {{username}}
{% endif %}{% endfor %}
        </RequireAny>
    </Location>
