body {
  font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  background-color: white;
}
body.dark {
    background-color: #202124;
}
div.table {
  border-top: 1px solid #d2d2d2;
}
div.table > div.row > div:first-child {
  border-left: 1px solid #d2d2d2;
} 
div.table > div.row > div:last-child {
  border-right: 1px solid #d2d2d2;
} 
div.table > div.row > div {
  border-bottom: 1px solid #d2d2d2;
} 
