:root {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
         -moz-user-select: none; /* Firefox */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */


    --widget-value-weight: 300;
    --widget-button-radius: 2px;
    --widget-button-border: 1px solid var(--primary-light-color);

    --body-bg: #000000;

    --primary-color: #26bf75;
    --primary-light-color: rgba(38,191,117,.50);
    --primary-dark-color: #09301d;

    --sub-icon-color: white;

    --widget-value-color: white;
    --widget-text-color-nonimportant: #AAA;
	--widget-button-background-marker: #1f1f1f;
    --widget-button-border-marker: 1px solid rgba(38,191,117,.1);
	--widget-value-color-weather-needle: white;
	--widget-value-color-weather-circle: var(--primary-light-color);
    --widget-value-color-weather-info-icon: var(--sub-icon-color);
    --widget-value-color-weather-clouds: white;
    --widget-value-color-weather-sun: rgba(255, 165, 0, 0.7);
    --widget-value-color-weather-raindrop: white;
    --widget-value-color-weather-snowflake: white;
	--widget-value-color-weather-thunder: rgba(255, 165, 0, 0.6);
	--widget-value-color-weather-thunder-stroke: rgba(255, 165, 0, 0.8);
}

:root.lightTheme {
	--body-bg: #FFF;

	--primary-color: rgba(84,126,177,1);
	--primary-light-color: rgba(56,121,217,0.5);
    --primary-dark-color: rgba(124,175,215,0.3);

    --sub-icon-color: rgba(124,175,215,0.9);

    --widget-value-color: black;
    --widget-text-color-nonimportant: #6E6E6E;
	--widget-button-background-marker: #FAFAFA;
	--widget-button-border-marker: 1px solid #BBB;
    --widget-value-color-weather-needle: #555;
    --widget-value-color-weather-circle: rgba(99,143,179,0.5);
    --widget-value-color-weather-info-icon: rgba(99,143,179,1.0);
    --widget-value-color-weather-clouds: #333;
    --widget-value-color-weather-sun: rgba(255, 165, 0, 0.7);
    --widget-value-color-weather-raindrop: #4b86c8;
    --widget-value-color-weather-snowflake: white;
	--widget-value-color-weather-thunder: rgba(255, 165, 0, 0.4);
	--widget-value-color-weather-thunder-stroke: rgba(255, 165, 0, 0.6);
}

.mvWidget .weatherForecast .cloud svg {
    --svg-weather-mask-fill: black;
    --svg-weather-clouds-stroke: var(--widget-value-color-weather-clouds);
    --svg-weather-clouds-stroke-width: 1px;
    --svg-weather-clouds-fill: transparent;
    --svg-weather-sun-stroke: var(--widget-value-color-weather-sun);
    --svg-weather-sun-stroke-width: 1px;
    --svg-weather-sun-fill: var(--widget-value-color-weather-sun);
    --svg-weather-moon-stroke: var(--widget-value-color-weather-clouds);
    --svg-weather-moon-stroke-width: 1px;
    --svg-weather-moon-fill: transparent;
    --svg-weather-stars-stroke: var(--widget-value-color-weather-clouds);
    --svg-weather-stars-stroke-width: 0.5px;
    --svg-weather-stars-fill: transparent;
    --svg-weather-thunder-stroke: var(--widget-value-color-weather-thunder-stroke);
    --svg-weather-thunder-stroke-width: 1px;
    --svg-weather-thunder-fill: var(--widget-value-color-weather-thunder);
    --svg-weather-raindrop-stroke: var(--widget-value-color-weather-clouds);
    --svg-weather-raindrop-stroke-width: 2px;
    --svg-weather-raindrop-fill: var(--widget-value-color-weather-raindrop);
    --svg-weather-snowflake-stroke: var(--widget-value-color-weather-clouds);
    --svg-weather-snowflake-stroke-width: 1px;
    --svg-weather-snowflake-fill: var(--widget-value-color-weather-snowflake);

    width: 58px;
	height: 58px;
}

.mvWidget .weatherForecast .sun {
	stroke: var(--widget-value-color-weather-clouds);
	stroke-width: 1px;
	fill: none;
}
.mvWidget .weatherForecast .sun .day {
	stroke-width: 1.2px;
}
.mvWidget .weatherForecast .sun .night {
	stroke-width: 1.4px;
}
.mvWidget .weatherForecast .summary,
.mvWidget .weatherForecast .summary .cell {
    display: flex;
}
.mvWidget .weatherForecast .summary .bullet {
    font-size: 1vw;
    color: var(--widget-text-color-nonimportant);
    flex-grow: 1;
}
.mvWidget .weatherForecast .summary .cell {
    justify-content: flex-end;
}
.mvWidget .weatherForecast .summary .cell:first-child {
    justify-content: flex-start;
}
.mvWidget .weatherForecast .summary .txt {
    font-size: 1vw;
    padding-top: 2px;
    color: var(--widget-text-color-nonimportant);
}
.mvWidget .weatherForecast .summary .icon {
    margin-left: 0.3vw;
    margin-right: 0.3vw;
    width: 16px;
    height: 16px;
    flex-grow: 0;
}
.mvWidget .weatherForecast .summary .icon svg {
    stroke: var(--sub-icon-color);
    fill: var(--sub-icon-color);
    width: auto;
    height: auto;
}
.mvWidget .weatherForecast .summary .icon.rain svg {
    stroke: var(--widget-value-color-weather-info-icon);
    fill: none;
    /*filter: brightness(150%);*/
}
.mvWidget .weatherForecast .summary .icon.sun svg {
	/*margin: 0px;*/
    /*filter: brightness(70%);*/
}
.mvWidget .weatherForecast .summary .value {
    font-weight: var(--widget-value-weight);
    white-space: nowrap;
}
.mvWidget .weatherForecast .summary .cell,
.mvWidget .weatherForecast .summary .bullet {
    margin-top: 1.1vw;
    font-size: 1.2vw;
    width: auto;
}
.mvWidget .weatherForecast .summary .bullet {
    padding-left: 0.8vw;
    padding-right: 0.8vw;
}
.mvWidget .weatherDetailForecast .summary {
	justify-content: center;
}
.mvWidget .weatherDetailForecast .summary .bullet {
    flex-grow: 0;
}
.mvWidget .weatherDetailForecast .week .hour .status {
    background-color: var(--primary-dark-color);
    border: 1px solid var(--primary-dark-color);
    width: 10px;
    min-width: 10px;
    max-width: 10px;
    margin-left: 5%;
}
.mvWidget .weatherDetailForecast .week .hour > div.active .status {
    background-color: var(--primary-light-color);
    border: 1px solid var(--primary-color);
}
.mvWidget .weatherDetailForecast .week .hour > div {
    justify-content: flex-end;
}
.mvWidget .weatherDetailForecast .hour > div > .info > .sunshineDuration {
    white-space: nowrap;
}

.mvWidget .weatherDetailForecast .week .hour .temperature .pre,
.mvWidget .weatherDetailForecast .week .hour .temperature .main {
    height: auto;
    text-align: right;
    line-height: 2.0vw;
    font-size: 1.7vw;
}
.mvWidget .weatherDetailForecast .mvClickable,
.weatherDetailForecast .today .hour > div {
    border: var(--widget-button-border);
    border-color: var(--body-bg);
    padding: 0.2vw;
}
.mvWidget .weatherDetailForecast .mvClickable:hover,
.mvWidget .weatherDetailForecast .mvClickable.active {
    background-color: var(--widget-button-background-marker);
    border: var(--widget-button-border-marker);
}
.mvWidget .weatherDetailForecast .mvClickable:active {
    background-color: var(--primary-dark-color);
    border: var(--widget-button-border);
    border-radius: var(--widget-button-radius);
}
.mvWidget .weatherDetailForecast {
    display: flex;
    flex-direction: row;
    font-size: var(--widget-value-size);
    /*font-weight: var(--widget-value-weight);*/
    color: var(--widget-value-color);
}
.mvWidget .weatherDetailForecast > div {
    width: 50%;
}
.mvWidget .weatherDetailForecast .today .hour,
.weatherDetailForecast .today .summary {
    border-right: 1px dashed var(--primary-light-color);
	padding-right: 0.5vw;
}
.mvWidget .weatherDetailForecast .week {
	padding-left: 0.5vw;
    color: var(--widget-value-color);
}
.mvWidget .weatherDetailForecast .hour {
	padding-top: 5px;
}
.mvWidget .weatherDetailForecast .hour.active > div > .temperature * {
	font-weight: bold !important;
}
.mvWidget .weatherDetailForecast .hour > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.mvWidget .weatherDetailForecast .hour > div > .time {
    width:15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-left: 1vw;
}
.mvWidget .weatherDetailForecast .hour > div > .time .from {
    font-size: 1.2vw;
    line-height: 1.2vw;
    margin-top: 0.1vw;
}
.mvWidget .weatherDetailForecast .hour > div > .time .to {
    font-size: 1.5vw;
    line-height: 1.5vw;
    font-weight: var(--widget-value-weight);
}
.mvWidget .weatherDetailForecast .hour > div > .sun {
    width: 4.9vw;
    height: 4.9vw;
    position:relative;
    min-width: 58px;
    min-height: 58px;
    text-align: center;
}
.mvWidget .weatherDetailForecast .hour > div > .temperature {
    width:20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}
.mvWidget .weatherDetailForecast .hour > div > .temperature > div {
    height:2vw;
}
.mvWidget .weatherDetailForecast .hour > div > .temperature > .main {
    font-size: 2vw;
    line-height: 2vw;
    font-weight: var(--widget-value-weight);
    margin-right: 5px;
}
.mvWidget .weatherDetailForecast .hour > div > .temperature > .sub {
    font-size: 1.6vw;
    line-height: 1.6vw;
}
.mvWidget .weatherDetailForecast .hour > div > .info {
    width:15%;
    font-size: 1.4vw;
    line-height: 1.4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mvWidget .weatherDetailForecast .hour > div > .info > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 0.2vw;
}
.mvWidget .weatherDetailForecast .hour > div > .info > div:first-child {
    margin-top: 0;
}
.mvWidget .weatherDetailForecast .hour > div > .info .sunshineDuration .sun {
    width: 16px;
	height: 16px;
}
.mvWidget .weatherDetailForecast .hour > div > .info .sunshineDuration .sun svg {
    stroke: var(--widget-value-color-weather-info-icon);
    fill: none;
	filter: brightness(70%);
}

.mvWidget .weatherDetailForecast .hour > div > .info .precipitationProbability {
    font-weight: var(--widget-value-weight);
}
.mvWidget .weatherDetailForecast .hour > div > .info .precipitationProbability svg {
    stroke: var(--widget-value-color-weather-info-icon);
    fill: none;
}
.mvWidget .weatherDetailForecast .hour > div > .wind,
.mvWidget .weatherDetailForecast .hour > div > .info .sunshineDuration,
.mvWidget .weatherDetailForecast .hour > div > .info .precipitationAmount {
    font-weight: var(--widget-value-weight);
    font-size: 95%;
}
.mvWidget .weatherDetailForecast .hour > div > .wind {
    width:28%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items:center;
    padding-right: 5px;
    padding-left: 5px;
    white-space: nowrap;
}
.mvWidget .weatherDetailForecast .hour > div > .wind .compass,
.mvWidget .weatherDetailForecast .hour > div > .wind svg {
    width: 1vw;
	height: 1vw;
    min-width: 24px;
    min-height: 24px;
}
.mvWidget .weatherDetailForecast .hour > div > .wind .compass {
    position: relative;
    margin-left: 10px;
}
.mvWidget .weatherDetailForecast .hour > div > .wind .compass .circle,
.weatherDetailForecast .hour > div > .wind .compass .needle {
    position: absolute;
    top: 0;
    left: 0;
}
.mvWidget .weatherDetailForecast .hour > div > .wind .compass .circle {
    fill: var(--widget-value-color-weather-circle);
    stroke: none;
}
.mvWidget .weatherDetailForecast .hour > div > .wind .compass .needle {
    fill: var(--widget-value-color-weather-needle);
}
.mvWidget .weatherDetailForecast svg {
    width: 16px;
	height: 16px;
}
