body {
    background-color: var(--body-bg);
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
.mvWidget {
    padding: 0;
    height: 100%;
}
* {
    box-sizing: border-box;
}

@media only screen and (min-width: 800px) {
    #openButton {
        display: none;
    }
}
@media only screen and (max-width: 800px) {
    .mvWidget .weatherDetailForecast .today, .mvWidget .weatherDetailForecast .week {
        width: 100%;
    }
    .mvWidget .weatherDetailForecast .today {
        padding-top: 20px;
    }
    .mvWidget .weatherDetailForecast .week {
        position: absolute;
        background-color: var(--body-bg);
        padding-left: 0;
        padding-top: 20px;
        margin-top: 10px;
        top: 0;
        transform: translate3d(-100%, 0, 0);
        transition: transform 300ms ease;
        bottom: 0;
    }
    .mvWidget .weatherDetailForecast .week.open {
        transform: translate3d(0%, 0, 0);
    }
    #openButton {
        position: absolute;
        display: inline-block;
        top: 0;
        right: 0;
        background-color: var(--body-bg);
        color: var(--primary-color);
        padding: 10px;
        border: 1px solid var(--primary-light-color);
    }
    #openButton.open {
        right: 5px !important;
    }
}
@media not (hover: none) {
  #openButton, #rainButton, .mvClickable {
      cursor: pointer;
  }
}
#rainButton {
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
  border: 1px solid var(--primary-light-color);
  padding: 5px;
  color: var(--primary-color);
}
@media only screen and (max-width: 800px) {
  #rainButton {
      background-color: var(--body-bg);
      padding: 10px;
  }
}
#rainButton.open {
    transition: right 500ms ease;
    top: 7px !important;
    right: calc( 100% - 120px ) !important;
    color: white;
    margin: 0px 5px 5px 5px;
    border-color: white;
    border-radius: 4px;
    padding: 2px 5px;
    background-color: rgba(68,65,65,0.84);
    font-weight: 500; 
    font-size: 1.14em;
    height: 1.5em;
    line-height: 1.2em;
}
@media (hover: none) {
  #rainButton.open {
    font-size: 1.2em;
    height: 1.8em;
    line-height: 1.6em;
  }
}
#rainFrame {
    position: absolute;
    background-color: var(--body-bg);
    padding-left: 0;
    padding-top: 0px;
    margin-top: 0px;
    top: 0px;
    right: 0;
    left: 0;
    transform: translate3d(100%, 0, 0);
    transition: transform 300ms ease;
    bottom: 0;
    z-index: 100;
}
#rainFrame.open {
    transform: translate3d(0%, 0, 0);
}
#rainFrame iframe {
    height: 100%;
    width: 100%;
    border: 0;
}
#openButton:active, #rainButton:active {
    background-color: var(--primary-light-color);
    border: 1px solid var(--primary-color);  
}
#rainButton.animated, #openButton.animated {
    transition: all 300ms ease;
    transition-property: height, top, right;
}
html.black, html.black body
html.dark, html.dark body
{
    background-color: var(--body-bg);
    
    --body-bg: black;

    --primary-color: white !important;
    --primary-light-color: #808080 !important;
    --primary-dark-color: rgba(255,255,255,0.2) !important;
    --primary-icon-color: var(--primary-dark-color) !important;
}
html.dark, html.dark body {
    background-color: var(--body-bg);

    --body-bg: #202124;
}
html.light, html.light body {
    background-color: var(--body-bg);
    
    --body-bg: white;

    --primary-color: #333 !important;
    --primary-light-color: rgba(51,122,183,.22) !important;
    --primary-dark-color: rgba(85,118,210,0.3) !important;
    --primary-icon-color: var(--primary-dark-color) !important;
} 

html.light body .mvWidget .weatherDetailForecast .week .hour.active .status {
    background-color: #1976D2;
    border: 1px solid #1976D2;
}

body{
    overflow-x: hidden;
}
body:not(.basicui) {
    max-width: 1024px;
    margin: 10px auto;
}

body:not(.basicui) #openButton
{
    top: 5px;
    right: 80px;
}

body:not(.basicui) #rainButton
{
    top: 5px;
    right: 5px;
}

@media only screen and (min-width: 1024px) {
  body:not(.basicui) #rainButton
  {
    right: calc(100vw / 2 - 1024px / 2 + 5px);
  }
}
